openapi: 3.1.0
info:
  title: Xberg Enterprise API
  description: Cloud document extraction API powered by Xberg. Supports asynchronous extraction with webhook delivery.
  contact:
    name: Xberg Enterprise
    url: https://example.com
    email: contact@xberg.io
  license:
    name: Proprietary
  version: 1.0.0
servers:
  - url: https://api.xberg.io
    description: Production API
  - url: https://api.staging.enterprise.xberg.io
    description: Staging API
paths:
  /healthz:
    get:
      tags:
        - health
      summary: Check service liveness
      description: |-
        Always answers `200` once the process has started; it does not check any
        dependency (database, NATS) — use `GET /readyz` for that. Unauthenticated:
        intended for a Kubernetes liveness probe, not for API clients. The body
        also reports the deployment `tier` and whether auto-tune is enabled, which
        the frontend uses for feature gating.
      operationId: healthz
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHealthResponse'
              example:
                status: ok
                tier: enterprise
                auto_tune:
                  enabled: true
      security: []
  /readyz:
    get:
      tags:
        - health
      summary: Check service readiness
      description: |-
        Probes the primary database, the maintenance database, and NATS, and
        answers `200` with each dependency's status only when all three are
        reachable; any dependency failure answers `503` with the same body shape
        so the caller can see which check failed. Unauthenticated: intended for a
        Kubernetes readiness probe, not for API clients.
      operationId: readyz
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
              example:
                status: ready
                checks:
                  database: ok
                  maintenance_database: ok
                  nats: ok
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
      security: []
  /v1/audit:
    get:
      tags:
        - audit
      summary: List audit log entries for the caller's project
      description: |-
        Returns a page of `audit_log` rows for the credential's own project, most
        recent first, optionally filtered to entries whose `action` matches
        exactly (e.g. `"job.submit"`). Unlike Pro's `GET /v1/audit`, which is
        gated to an admin or the project's session-JWT owner, any of the
        project's API keys may read this endpoint — Enterprise has no per-key
        role concept, so every project key already has full read/write of the
        project's data plane.
      operationId: list_audit_entries
      parameters:
        - name: action
          in: query
          description: Filter to entries matching this action exactly (e.g. `"job.submit"`).
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: |-
            Page size. Values outside 1..=100 are clamped into range rather than
            rejected.
          required: false
          schema:
            type: integer
            format: int64
            default: 50
            maximum: 100
            minimum: 1
        - name: offset
          in: query
          description: |-
            Number of items to skip. A value above 1,000,000 is clamped to
            1,000,000, which selects an empty page.
          required: false
          schema:
            type: integer
            format: int64
            default: 0
            minimum: 0
      responses:
        "200":
          description: Audit entries listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditEntriesResponse'
        "400":
          description: Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune:
    get:
      tags:
        - auto-tune
      summary: List auto-tune jobs
      description: |-
        Returns a page of job summaries (status and timestamps, not the ground
        truth or the winning configuration), most recently submitted first. Fetch
        `GET /v1/auto-tune/{id}` for one job's live status or
        `GET /v1/auto-tune/{id}/result` for a completed job's result.
      operationId: list_auto_tune_jobs
      parameters:
        - name: limit
          in: query
          description: Page size. Values outside 1..=100 are clamped into range rather than rejected.
          required: false
          schema:
            type: integer
            format: int64
            maximum: 100
            minimum: 1
        - name: offset
          in: query
          description: Number of items to skip. A value above 1,000,000 is clamped to 1,000,000.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "200":
          description: Auto-tune jobs for the current project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAutoTuneJobsResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    post:
      tags:
        - auto-tune
      summary: Submit a new auto-tune job
      description: |-
        Accepts `multipart/form-data`: a `request` text part carrying a
        JSON-encoded [`CreateAutoTuneJobRequest`], plus one binary part per
        document referenced by `documents[].filename`.
      operationId: submit_auto_tune
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AutoTuneMultipartForm'
        required: true
      responses:
        "201":
          description: Auto-tune job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAutoTuneJobResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Auto-tune entitlement/quota exceeded or per-project active-job cap reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence or dispatch error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune/capabilities:
    get:
      tags:
        - auto-tune
      summary: Get auto-tune capabilities (OCR backends and tunable knobs) for this deployment
      description: |-
        Requires the same auth as its sibling endpoints even though the response itself is
        project-agnostic, so it sits behind the same access boundary as the rest of the surface.
      operationId: get_auto_tune_capabilities
      responses:
        "200":
          description: Auto-tune capabilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoTuneCapabilitiesResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune/{id}:
    get:
      tags:
        - auto-tune
      summary: Get auto-tune job status
      description: |-
        Auto-tune runs a search over extraction configurations against a
        caller-supplied ground truth, scoring each candidate and tracking the
        best one seen so far. Returns the job's current lifecycle state and
        progress; once the state reaches a terminal value, fetch
        `GET /v1/auto-tune/{id}/result` for the winning configuration and its
        score.
      operationId: get_auto_tune_status
      parameters:
        - name: id
          in: path
          description: Auto-tune job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Auto-tune job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoTuneJobStatus'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    delete:
      tags:
        - auto-tune
      summary: Delete an auto-tune job
      description: |-
        Irreversible: there is no soft-delete. Rejected with `409` while the job
        is still running — cancel is not implemented as a separate operation, so
        a running job must reach a terminal state before it can be deleted.
        Rejected with `403` for a read-only API key.
      operationId: delete_auto_tune_job
      parameters:
        - name: id
          in: path
          description: Auto-tune job ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Auto-tune job deleted
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Job is still running and cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune/{id}/promote:
    post:
      tags:
        - auto-tune
      summary: Promote an auto-tune result to a tuning profile
      description: |-
        Persists the job's best-found configuration under the name in
        `PromoteProfileRequest`, so it can be applied to future extractions
        without re-running the search. Rejected with `409` when the job has not
        reached a successful terminal state; rejected with `403` for a read-only
        API key.
      operationId: promote_auto_tune_profile
      parameters:
        - name: id
          in: path
          description: Auto-tune job ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteProfileRequest'
        required: true
      responses:
        "201":
          description: Tuning profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuningProfileDetail'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Job exists but has not completed (or has failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune/{id}/result:
    get:
      tags:
        - auto-tune
      summary: Get auto-tune job result
      description: |-
        Returns the best extraction configuration the search found, its score
        against the supplied ground truth, and the provenance of how it was
        reached. Rejected with `409` when the job has not yet reached a
        successful terminal state — including when it failed, since there is no
        winning configuration to return in that case.
      operationId: get_auto_tune_result
      parameters:
        - name: id
          in: path
          description: Auto-tune job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Auto-tune job result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoTuneResult'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Job exists but has not completed (or has failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/crawl-jobs/{crawl_job_id}/events:
    get:
      tags:
        - jobs
      summary: Stream crawl job events
      description: |-
        Authenticates the request, verifies project ownership of the crawl job,
        opens an ephemeral NATS subscriber, and streams events with a 15s heartbeat.
        Stream closes when a `Complete` event is received or the client disconnects.

        Each data frame is a default `message` event carrying JSON. The `kind` discriminator is derived from the NATS subject
        before serialization. A 15-second SSE comment heartbeat keeps the stream alive.
        <!-- ~keep: public SSE wire contract -->

        # Response format
        - **200 OK** with `text/event-stream` media type and events in JSON with `kind` field
        - **401 Unauthorized** if authentication fails
        - **403 Forbidden** if the crawl job belongs to a different project
        - **404 Not Found** if the crawl job does not exist
        - **429 Too Many Requests** if the project already holds its maximum number of streams
        - **500 Internal Server Error** if the crawl job lookup fails
        - **503 Service Unavailable** if NATS subscription fails
      operationId: stream_crawl_events
      parameters:
        - name: crawl_job_id
          in: path
          description: Crawl job ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Crawl events SSE stream
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CrawlEventV1'
        "400":
          description: 'The request is malformed: a path parameter, a query parameter or the body did not parse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Crawl job belongs to different project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Crawl job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Too many concurrent event streams for this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Failed to fetch the crawl job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: NATS subscription failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/documents/{document_id}:
    get:
      tags:
        - documents
      summary: Get the latest version of a document with its extraction result.
      description: |-
        A "document" here is the lineage a caller-supplied `document_id` ties
        together across repeated extractions of the same logical file (see
        `POST /v1/extract`'s multipart `document_id-<filename>` part). Returns the
        most recently created version's metadata plus its `ExtractionResult` when
        one is available; `result` is `null`, not omitted, when the latest version
        has no completed extraction yet or its stored result could not be read
        back.
      operationId: get_latest
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Latest version with extraction result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestDocumentResponse'
        "400":
          description: Invalid document ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/diff:
    get:
      tags:
        - documents
      summary: Compute the diff between two versions of a document.
      description: |-
        `from` and `to` each name a version by its sequence number or by the job
        ID that produced it; naming the same version for both is a `400`. A diff
        already computed for the same pair is served from its cached result. A
        new diff is attempted inline with a 2-second budget: if it finishes in
        time the response is `200` with the `DiffResponse` body; if not, the
        computation continues in the background and the response is `202` with a
        `diff_job_id` to poll via `GET /v1/documents/{document_id}/diff/{diff_job_id}`.
      operationId: get_diff
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          description: Source version (sequence integer or job UUID)
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Target version (sequence integer or job UUID)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Diff computed inline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffResponse'
        "202":
          description: Diff queued for async computation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffAsyncAccepted'
        "400":
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Version extraction is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Diff computation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/diff/{diff_job_id}:
    get:
      tags:
        - documents
      summary: Poll the status of an asynchronously-computed diff.
      description: |-
        Reads back a `diff_job_id` returned by the `202` fallback from
        `GET /v1/documents/{document_id}/diff`. Answers `202` with a
        `DiffAsyncAccepted` body while the computation is still pending, and `200`
        with the `DiffResponse` body once it completes. A diff job that itself
        cannot read a required extraction surfaces as a `409` with an actionable
        reason; storage transport failures remain pending for retry.
      operationId: poll_diff
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
        - name: diff_job_id
          in: path
          description: Async diff job ID returned by the 202 fallback
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Diff result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffResponse'
        "202":
          description: Diff still pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffAsyncAccepted'
        "400":
          description: Invalid document ID or diff job ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Diff job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Version extraction is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Diff computation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/versions:
    get:
      tags:
        - documents
      summary: List all versions of a document.
      description: |-
        Returns every extraction that shares the given `document_id`, newest
        first, each as a `DocumentVersionEntry` carrying that version's job
        metadata (status, filename, page/byte counts, timestamps) but not its
        extraction result — fetch `GET /v1/documents/{document_id}` for the latest
        version's result, or resolve a specific version's job ID from this list
        and use it as the `from`/`to` parameter of the diff endpoint.
      operationId: list_versions
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum versions to return. A negative value is rejected with a 422; a value above 200 is accepted but clamped to 200.
          required: false
          schema:
            type: integer
            format: int32
            maximum: 200
            minimum: 0
        - name: offset
          in: query
          description: Versions to skip. A negative value is clamped to 0; a value above 1,000,000 is clamped to 1,000,000.
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Document versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentVersionEntry'
        "400":
          description: 'The request is malformed: a path parameter, a query parameter or the body did not parse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Invalid document ID or pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/enrich:
    post:
      tags:
        - enrich
      summary: Submit text for enrichment (async).
      description: |-
        Accepts text with optional enrichment flags and returns a job ID for polling.
        Validates text size, publishes a message to NATS, and writes initial status to KV.

        # Returns
        - 202 Accepted with `{ job_id }`
        - 400 Bad Request if text exceeds size limit or options invalid
        - 500 Internal Server Error if NATS/KV write fails
      operationId: submit_enrich
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichTextRequest'
        required: true
      responses:
        "202":
          description: Enrichment job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichJobSubmitted'
        "400":
          description: Text or labels exceed their limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Job status store or queue unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/enrich/{job_id}:
    get:
      tags:
        - enrich
      summary: Poll enrichment job status.
      description: |-
        Retrieves job status from the KV bucket. Status transitions:
        - Pending: job is queued or processing
        - Completed: includes enrichment result
        - Failed: includes error message

        # Returns
        - 200 OK with status and result
        - 404 Not Found if job ID is unknown
        - 500 Internal Server Error if KV read fails
      operationId: get_enrich_status
      parameters:
        - name: job_id
          in: path
          description: Enrichment job ID (ULID)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job status, with the result when completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichJobStatus'
        "400":
          description: Job ID is not a ULID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Job status store unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/extract:
    post:
      tags:
        - extract
      summary: '`POST /v1/extract` — Submit documents for extraction'
      description: |-
        Accepts `application/json` or `multipart/form-data`.

        **JSON body**: `{"documents": [...], "options": {...}, "webhook": {"url": "...", "secret": "...", "metadata": {...}}}`

        **Multipart**: file parts (binary) + `webhook` part (JSON string) + optional `options` part (JSON string)

        Returns 202 Accepted with job IDs. Results are delivered via the configured webhook.

        The job is written into the project the credential carries. This endpoint cannot write into
        another project, so a body whose `project_id` names a different project is rejected with 400.
      operationId: extract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractRequest'
            examples:
              File extraction:
                summary: Extract from base64-encoded documents
                value:
                  documents:
                    - filename: invoice.pdf
                      mime_type: application/pdf
                      data: SGVsbG8gV29ybGQ=
                  options:
                    extraction_config:
                      output_format: markdown
                      ocr:
                        backend: tesseract
                        language: eng
                  webhook:
                    url: https://example.com/webhook
                    secret: my-secret
                    metadata:
                      request_id: abc123
              URL crawl extraction:
                summary: Crawl URLs and extract all discovered documents
                value:
                  urls:
                    - url: https://example.com/docs
                  crawl_config:
                    max_depth: 2
                    max_pages: 50
                    stay_on_domain: true
                  webhook:
                    url: https://example.com/webhook
                    secret: my-secret
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExtractMultipartForm'
        required: true
      responses:
        "202":
          description: Jobs accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
              example:
                job_ids:
                  - 550e8400-e29b-41d4-a716-446655440000
                crawl_job_ids:
                  - 660e9400-f39c-51e5-b827-557766551111
                status: pending
        "400":
          description: Invalid request, an unavailable crawl network route, or a `project_id` naming a project other than the credential's own
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: validation
                  message: At least one document or URL is required
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: unauthorized
                  message: Missing project context
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: An integration named in `documents` does not exist in the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: A decoded document is larger than the project's `max_file_size_mb`, or the request body is larger than `MAX_BODY_SIZE`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit or quota exceeded. The error code is `rate_limited` or `quota_exceeded`. Retry-After gives seconds until retry is safe for rate limits and monthly quotas; non-windowed quotas omit it.
          headers:
            Retry-After:
              schema:
                type: integer
                format: int64
                minimum: 0
              description: Seconds to wait; monthly quotas reset at the next UTC calendar month.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/extractions:
    get:
      tags:
        - extractions
      summary: List structured-extraction audit events for a project.
      description: |-
        Each event is one preset-driven extraction call: the preset and version
        used, the call mode (`text_only`, `vision_only`, or `text_plus_vision`),
        page and vision-call counts, and token usage when the call succeeded.
        `days` bounds the lookback window from now; `total` in the response is
        the count of matching events in that window, independent of `limit`.
      operationId: list_extraction_events
      parameters:
        - name: days
          in: query
          description: Days to look back. Values outside 1..=365 are clamped into range rather than rejected.
          required: false
          schema:
            type: integer
            format: int64
            maximum: 365
            minimum: 1
        - name: limit
          in: query
          description: Page size. Values outside 1..=100 are clamped into range rather than rejected.
          required: false
          schema:
            type: integer
            format: int64
            maximum: 100
            minimum: 1
        - name: offset
          in: query
          description: Number of items to skip. A value above 1,000,000 is clamped to 1,000,000.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "200":
          description: Extraction events for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExtractionEventsResponse'
        "400":
          description: 'The request is malformed: a path parameter, a query parameter or the body did not parse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/jobs:
    get:
      tags:
        - jobs
      summary: List jobs for the caller's project
      description: |-
        Returns a page of the project's extraction and crawl jobs, most recently
        created first, together with the `total` count of jobs in the project so
        a client can compute how many pages remain. Each entry is a `JobSummary`,
        not the full result — fetch `GET /v1/jobs/{id}/result` for a completed
        job's content. `project_id` restricts the request to the credential's own
        project; naming a different project is rejected rather than silently
        ignored.
      operationId: list_jobs
      parameters:
        - name: limit
          in: query
          description: Page size. A value outside 1..=100 is rejected with a 400.
          required: false
          schema:
            type: integer
            format: int64
            maximum: 100
            minimum: 1
        - name: offset
          in: query
          description: Number of items to skip. A negative value is rejected with a 400; a value above 1,000,000 is accepted but clamped to 1,000,000.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: project_id
          in: query
          description: Project to read; must be the credential's own project
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Jobs listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
        "400":
          description: Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/jobs/{id}:
    get:
      tags:
        - jobs
      summary: Get job status and results
      description: |-
        Accepts both extraction job IDs (returned in `job_ids`) and crawl job IDs
        (returned in `crawl_job_ids`) from `POST /v1/extract`. When the ID belongs
        to a crawl job, the response body follows the `CrawlJobResponse` schema
        instead of `JobResponse`.
      operationId: get_job
      parameters:
        - name: id
          in: path
          description: Job ID or crawl job ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        - name: project_id
          in: query
          description: Project to read; must be the credential's own project
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Job retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobLookupResponse'
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                filename: invoice.pdf
                status: completed
                created_at: "2025-12-21T10:00:00Z"
                result:
                  content: 'Invoice total: $1,234.56'
                  mime_type: text/markdown
                  tables: []
                  images: []
                  metadata:
                    title: 'Invoice #12345'
        "400":
          description: Invalid job ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: validation
                  message: Invalid job ID format
        "401":
          description: Unauthorized - missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: unauthorized
                  message: Missing or invalid API key
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: job_not_found
                  message: Job not found
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: internal
                  message: Database connection failed
      security:
        - bearer_auth: []
    delete:
      tags:
        - jobs
      summary: Cancel an extraction job
      description: |-
        Requests cancellation of a job in the caller's project. This is
        best-effort: a job already picked up by a worker may finish before the
        cancellation is observed, and a job that has already reached a terminal
        state (completed, failed, or already cancelled) answers `204` without
        changing anything. Returns `404` only when the job ID does not resolve to
        a job the caller's project owns. There is no response body on success —
        poll `GET /v1/jobs/{id}` to see the job's final status.
      operationId: cancel_job
      parameters:
        - name: id
          in: path
          description: Extraction job ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        "204":
          description: Cancellation accepted or job already terminal
        "400":
          description: Invalid job ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found in the caller's project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/jobs/{id}/result:
    get:
      tags:
        - jobs
      summary: Get job result
      description: 'The result envelope of a job in a terminal successful state (`completed` or `partial_success`). Xberg Pro serves the same envelope on the same route, so one polling loop works on both tiers: poll until the route stops answering 409. A result that has passed its retention period answers 404.'
      operationId: get_job_result
      parameters:
        - name: id
          in: path
          description: Job ID (UUID)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Extraction result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResult'
        "400":
          description: 'The request is malformed: a path parameter, a query parameter or the body did not parse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found, or its result has expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Job has not reached a terminal successful state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/jobs/{job_id}/pages/{page_number}:
    get:
      tags:
        - jobs
      summary: Get page raster from extraction job
      description: |-
        Serves page images that were persisted during structured extraction.
        Page numbers are 1-indexed. Images are cached for 1 hour.

        # Response format
        - **200 OK** with PNG image data and cache headers
        - **404 Not Found** if the job does not exist or page is out of range
        - **401 Unauthorized** if authentication is required and not provided (via middleware)
        - **500 Internal Server Error** if storage access fails
      operationId: get_job_page
      parameters:
        - name: job_id
          in: path
          description: Extraction job ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
        - name: page_number
          in: path
          description: 1-indexed page number
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Page PNG image
          content:
            image/png:
              schema:
                type: string
                format: binary
        "400":
          description: 'The request is malformed: a path parameter, a query parameter or the body did not parse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job or page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Storage error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/presets:
    get:
      tags:
        - presets
      summary: List the curated preset registry.
      description: |-
        Returns every built-in preset's summary (id, name, description) in one
        unpaginated response — the registry is small and fixed at build time, not
        a per-project resource. Public: no authentication required, since the
        preset library itself is not tenant-specific.
      operationId: list_presets
      responses:
        "200":
          description: Curated preset library
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PresetSummary'
      security: []
  /v1/presets/{id}:
    get:
      tags:
        - presets
      summary: Get the full detail of one curated preset.
      description: |-
        Returns the preset's system prompt, output schema, and content
        fingerprint (a hash callers can use to detect that a preset's definition
        changed between releases). `404` when `id` does not match a preset in the
        registry. Public: no authentication required.
      operationId: get_preset
      parameters:
        - name: id
          in: path
          description: Preset identifier
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Preset detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetDetail'
        "400":
          description: 'The request is malformed: a path parameter, a query parameter or the body did not parse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Preset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security: []
  /v1/presets/{id}/sample/{name}:
    get:
      tags:
        - presets
      summary: Get a bundled sample file for a preset's landing-page preview.
      description: |-
        Streams the raw sample bytes with a `Content-Type` guessed from `name`'s
        extension; there is no wrapping envelope. `404` when either the preset or
        the named sample does not exist. Public: no authentication required.
      operationId: get_preset_sample
      parameters:
        - name: id
          in: path
          description: Preset identifier
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: Sample file name
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sample bytes; Content-Type follows the sample file
          content:
            '*/*':
              schema:
                type: string
                format: binary
        "400":
          description: 'The request is malformed: a path parameter, a query parameter or the body did not parse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Preset or sample not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security: []
  /v1/rag/collections:
    get:
      tags:
        - rag
      summary: List RAG collections
      description: Returns paginated list of collections ordered by creation time (newest first).
      operationId: list_collections
      parameters:
        - name: limit
          in: query
          description: Maximum results per page. Values outside 1..=100 are clamped into range rather than rejected.
          required: false
          schema:
            type: integer
            format: int32
            maximum: 100
            minimum: 1
        - name: offset
          in: query
          description: Number of results to skip. A value above 1,000,000 is clamped to 1,000,000.
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: List of collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: RAG is not enabled for this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    post:
      tags:
        - rag
      summary: Create a new RAG collection
      description: |-
        Creates a vector collection with the specified embedding and index configuration.
        Collection names must be unique per project.
        Returns 201 on success, 409 if a collection with that name already exists.
      operationId: create_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
        required: true
      responses:
        "201":
          description: Collection created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCollectionResponse'
        "400":
          description: 'Invalid request parameters, or a label classification field was supplied: `rag.label_classification.unsupported`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: RAG is not enabled for this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Collection name already exists in this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}:
    get:
      tags:
        - rag
      summary: Get a RAG collection
      description: Returns 404 if the collection does not exist or belongs to another project.
      operationId: get_collection
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      responses:
        "200":
          description: Collection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    delete:
      tags:
        - rag
      summary: Delete a RAG collection
      description: |-
        Marking the collection as deleted prevents new document uploads but
        does not immediately remove data.
        Returns 204 on success, 404 if the collection does not exist.
      operationId: delete_collection
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      responses:
        "204":
          description: Collection deleted
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/documents:
    post:
      tags:
        - rag
      summary: Create a document in a RAG collection
      description: |-
        Supports two ingest paths:
        - **Text source** → server chunks, enriches, embeds → 202 async
        - **Chunks source** → worker handles embedding and enrichment → 202 async

        Quota checks apply: if the collection has `quota_max_documents` set and
        the active document count would exceed it, returns 429.

        **Note:** The synchronous BYO-vector path (200 with all embeddings supplied) ships in Phase 6c.
        Currently all ingest requests return 202 with a job_id for polling.
      operationId: create_document
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
        required: true
      responses:
        "202":
          description: Document ingest queued asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDocumentAsyncResponse'
              example:
                job_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
                document_id: 550e8400-e29b-41d4-a716-446655440000
                status: pending
                poll: /v1/rag/jobs/01ARZ3NDEKTSV4RRFFQ69G5FAV
        "400":
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Collection not found or RAG disabled on project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Collection quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database or NATS error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    delete:
      tags:
        - rag
      summary: Delete documents from a RAG collection
      description: Accepts either a list of document IDs or a metadata filter expression.
      operationId: delete_documents
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDocumentsRequest'
        required: true
      responses:
        "200":
          description: Documents deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDocumentsResponse'
              example:
                deleted_count: 5
        "400":
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Collection not found or RAG disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/documents/{id}/reindex:
    post:
      tags:
        - rag
      summary: Reindex a document
      description: |-
        When `re_extract: true`, the worker re-pulls the source object from storage
        and re-runs xberg extraction before re-chunking.
      operationId: reindex_document
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
        - name: id
          in: path
          description: Document ID
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReindexRequest'
        required: true
      responses:
        "202":
          description: Reindex job queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDocumentAsyncResponse'
              example:
                job_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
                document_id: 550e8400-e29b-41d4-a716-446655440000
                status: pending
                poll: /v1/rag/jobs/01ARZ3NDEKTSV4RRFFQ69G5FAV
        "400":
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Document or collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database or NATS error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/migrate-embeddings:
    post:
      tags:
        - rag
      summary: Initiate embedding source migration
      description: |-
        Validates that the target version is greater than the current version
        and that the target embedding source has the same dimension as the
        current embedding source (cross-dimension migration is not supported).

        Returns 202 with a job_id for polling progress.
      operationId: migrate_embeddings
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateEmbeddingsRequest'
        required: true
      responses:
        "202":
          description: Migration queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateEmbeddingsResponse'
        "400":
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Collection not found or RAG disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Invalid migration parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/migrate-embeddings/{job_id}:
    get:
      tags:
        - rag
      summary: Get migration job status
      description: Returns the current status, progress details, or error information.
      operationId: migrate_status
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
        - name: job_id
          in: path
          description: Migration job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Migration status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateStatusResponse'
        "400":
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/retrieve:
    post:
      tags:
        - rag
      summary: Retrieve relevance-ranked chunks from a RAG collection
      description: |-
        `mode` selects the retrieval strategy: `vector` (requires `query` or a
        caller-supplied `query_vector`), `full_text` (requires `query`, rejects
        `query_vector`), or `hybrid` (requires `query`, combining both signals).
        `top_k` (1..=200) bounds the returned chunk count; `candidate_multiplier`
        (1..=20), when set, widens the pre-rerank candidate pool. `501` when the
        collection's configured reranker is not available in this deployment;
        `503` when the collection's concurrent-retrieve limit is exceeded.
      operationId: retrieve
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveRequest'
        required: true
      responses:
        "200":
          description: Retrieve completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveResponse'
        "400":
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Collection not found or RAG disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "501":
          description: Reranker kind not available in this deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: RAG service unavailable or retrieve limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "504":
          description: Request deadline exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/jobs/{job_id}:
    get:
      tags:
        - rag
      summary: Poll async RAG operation status
      description: |-
        Returns the current job state, operation type, and any available progress details.
        Status is determined by:
        - For ingest/reindex: document status in vector_documents (pending→indexed or failed)
        - For migrate: job status in NATS KV bucket (rag-migrate-status)

        Returns 404 if the job_id does not exist or belongs to another project (RLS enforcement).
      operationId: get_rag_job
      parameters:
        - name: job_id
          in: path
          description: Job ID (ULID)
          required: true
          schema:
            type: string
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagJobStatusResponse'
        "400":
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found or access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Invalid job ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database or NATS error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/saved_presets:
    get:
      tags:
        - saved-presets
      summary: List saved presets
      description: |-
        Returns a page of `SavedPresetSummary` entries — not the full schema each
        preset carries; fetch `GET /v1/saved-presets/{id}` for that. `page` in the
        response is a zero-based page index derived from `offset / limit`, not an
        independent cursor.
      operationId: list_saved_presets
      parameters:
        - name: limit
          in: query
          description: Page size. Values outside 1..=100 are clamped into range rather than rejected.
          required: false
          schema:
            type: integer
            format: int64
            maximum: 100
            minimum: 1
        - name: offset
          in: query
          description: Number of items to skip. A value above 1,000,000 is clamped to 1,000,000.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "200":
          description: Saved presets for the current project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSavedPresetsResponse'
        "400":
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    post:
      tags:
        - saved-presets
      summary: Create a saved preset
      description: |-
        A saved preset is a project's own reusable extraction configuration — a
        name, a JSON Schema (Draft 2020-12) the extraction output must satisfy,
        and a preferred call mode — distinct from the curated, cross-project
        preset registry served at `GET /v1/presets`. The schema is validated for
        well-formedness at creation time, not for reachability against any
        particular document. Returns `201` with `{success, id, name, message}`.
        Rejected with `403` for a read-only API key.
      operationId: create_saved_preset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedPresetRequest'
        required: true
      responses:
        "201":
          description: Preset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSavedPresetResponse'
        "400":
          description: Invalid request (bad name, schema, or call mode)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The API key is read-only and cannot use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "413":
          description: The request body is larger than this deployment accepts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: 'The request body was not sent with Content-Type: application/json'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Request fails validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Rate limit exceeded for this caller. The body is the shared error envelope with code `rate_limited`; `Retry-After` and the `x-ratelimit-*` headers carry the wait.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/saved_presets/{preset_id}:
    get:
      tags:
        - saved-presets
      summary: Get a saved preset
      description: |-
        `404` when `id` does not name a preset in the caller's own project — a
        preset belonging to a different project is never visible, project
[...]
