openapi: 3.1.0
info:
  title: Kreuzberg Cloud API
  description: Cloud document extraction API powered by Kreuzberg. Supports asynchronous extraction with webhook delivery.
  contact:
    name: Kreuzberg Cloud
    url: https://docs.kreuzberg.cloud
    email: support@kreuzberg.cloud
  license:
    name: BUSL-1.1
  version: 1.0.0
servers:
  - url: https://api.kreuzberg.dev
    description: Production API
  - url: https://api.staging.kreuzberg.cloud
    description: Staging API
paths:
  /healthz:
    get:
      tags:
        - health
      summary: Check service liveness
      operationId: healthz
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ok
  /readyz:
    get:
      tags:
        - health
      summary: Check service readiness
      operationId: readyz
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
              example:
                status: ready
                checks:
                  database: ok
                  nats: ok
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
  /v1/documents/{document_id}:
    get:
      tags:
        - documents
      summary: Get the latest version of a document with its extraction result.
      operationId: get_latest
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Latest version with extraction result
          content:
            application/json:
              schema: {}
        "400":
          description: Invalid document ID
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
        "404":
          description: Document not found
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/diff:
    get:
      tags:
        - documents
      summary: Compute diff between two versions (sync with async fallback on budget exceeded).
      operationId: get_diff
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          description: Source version (sequence integer or job UUID)
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Target version (sequence integer or job UUID)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Diff computed inline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffResponse'
        "202":
          description: Diff queued for async computation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffAsyncAccepted'
        "400":
          description: Invalid parameters
          content:
            application/json:
              schema: {}
        "404":
          description: Version not found
          content:
            application/json:
              schema: {}
        "422":
          description: Async diff failed
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/diff/{diff_job_id}:
    get:
      tags:
        - documents
      summary: Poll the status of an async diff job.
      operationId: poll_diff
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
        - name: diff_job_id
          in: path
          description: Async diff job ID returned by the 202 fallback
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Diff result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffResponse'
        "202":
          description: Diff still pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffAsyncAccepted'
        "404":
          description: Diff job not found
          content:
            application/json:
              schema: {}
        "422":
          description: Diff failed
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/versions:
    get:
      tags:
        - documents
      summary: List all versions of a document with pagination.
      operationId: list_versions
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentVersionEntry'
        "400":
          description: Invalid document ID
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/extract:
    post:
      tags:
        - extract
      summary: '`POST /v1/extract` — Submit documents for extraction'
      description: |-
        Accepts `application/json` or `multipart/form-data`.

        **JSON body**: `{"documents": [...], "options": {...}, "webhook": {"url": "...", "secret": "...", "metadata": {...}}}`

        **Multipart**: file parts (binary) + `webhook` part (JSON string) + optional `options` part (JSON string)

        Returns 202 Accepted with job IDs. Results are delivered via the configured webhook.
      operationId: extract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractJsonRequest'
            examples:
              File extraction:
                summary: Extract from base64-encoded documents
                value:
                  documents:
                    - filename: invoice.pdf
                      mime_type: application/pdf
                      data: SGVsbG8gV29ybGQ=
                  options:
                    extraction_config:
                      output_format: markdown
                      ocr:
                        backend: tesseract
                        language: eng
                  webhook:
                    url: https://example.com/webhook
                    secret: my-secret
                    metadata:
                      request_id: abc123
              URL crawl extraction:
                summary: Crawl URLs and extract all discovered documents
                value:
                  urls:
                    - url: https://example.com/docs
                  crawl_config:
                    max_depth: 2
                    max_pages: 50
                    stay_on_domain: true
                  webhook:
                    url: https://example.com/webhook
                    secret: my-secret
        required: true
      responses:
        "202":
          description: Jobs accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
              example:
                job_ids:
                  - 550e8400-e29b-41d4-a716-446655440000
                crawl_job_ids:
                  - 660e9400-f39c-51e5-b827-557766551111
                status: pending
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
              example:
                error: At least one document or URL is required
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
              example:
                error: Missing project context
      security:
        - bearer_auth: []
  /v1/jobs/{id}:
    get:
      tags:
        - jobs
      summary: Get job status and results
      description: |-
        Accepts both extraction job IDs (returned in `job_ids`) and crawl job IDs
        (returned in `crawl_job_ids`) from `POST /v1/extract`. When the ID belongs
        to a crawl job, the response body follows the `CrawlJobResponse` schema
        instead of `JobResponse`.
      operationId: get_job
      parameters:
        - name: id
          in: path
          description: Job ID or crawl job ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        "200":
          description: Job retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobLookupResponse'
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                filename: invoice.pdf
                status: completed
                created_at: "2025-12-21T10:00:00Z"
                result:
                  content: 'Invoice total: $1,234.56'
                  mime_type: text/markdown
                  tables: []
                  images: []
                  metadata:
                    title: 'Invoice #12345'
        "400":
          description: Invalid job ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Invalid job ID format
        "401":
          description: Unauthorized - missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Missing project context
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Job not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Database connection failed
        "503":
          description: Service unavailable - dependency failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Database connection unavailable
      security:
        - bearer_auth: []
  /v1/sandbox/key:
    post:
      tags:
        - super::sandbox
      summary: Create sandbox API key
      description: |-
        Issues an ephemeral API key valid for 24 hours with a 50-page quota.
        Limited to 10 keys per IP per 24 hours to prevent abuse.

        # Returns
        - `200 OK` with `CreateSandboxKeyResponse` on success
        - `429 Too Many Requests` if IP has issued 10+ keys in past 24 hours
        - `500 Internal Server Error` on database errors
      operationId: create_sandbox_key
      responses:
        "200":
          description: Sandbox key created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSandboxKeyResponse'
              example:
                api_key: sk_sandbox_ABC123DEF456GHI789JKL012MNO345PQR678STU901VWX234
                expires_at: "2025-12-21T10:00:00Z"
                pages_remaining: 50
        "429":
          description: 'Rate limit exceeded: max 10 keys per IP per 24 hours'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxErrorResponse'
              example:
                error: rate_limited
                message: 'Rate limit exceeded: max 10 keys per IP per 24 hours'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxErrorResponse'
              example:
                error: internal_error
                message: Failed to create sandbox key
  /v1/uploads/confirm:
    post:
      tags:
        - uploads
      summary: Confirm uploads and start processing
      description: Verifies all files exist in storage, then dispatches jobs to the worker queue.
      operationId: confirm_upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmUploadRequest'
        required: true
      responses:
        "202":
          description: Uploads confirmed, processing started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmUploadResponse'
              example:
                job_ids:
                  - 550e8400-e29b-41d4-a716-446655440000
                  - 550e8400-e29b-41d4-a716-446655440001
                status: processing
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/uploads/presign:
    post:
      tags:
        - uploads
      summary: Generate presigned upload URLs
      description: |-
        Returns upload URLs for each document. The client uploads files directly
        to storage, then calls `/v1/uploads/confirm` to trigger processing.
      operationId: presign_upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignUploadRequest'
        required: true
      responses:
        "200":
          description: Presigned upload URLs generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignUploadResponse'
              example:
                batch_id: batch_550e8400-e29b-41d4-a716
                uploads:
                  - job_id: 550e8400-e29b-41d4-a716-446655440000
                    upload_url: https://storage.googleapis.com/kreuzberg-dev-uploads/...
                    object_key: projects/abc123/uploads/550e8400-e29b-41d4-a716-446655440000
                    method: PUT
                    expires_in_secs: 3600
                  - job_id: 550e8400-e29b-41d4-a716-446655440001
                    upload_url: https://storage.googleapis.com/kreuzberg-dev-uploads/...
                    object_key: projects/abc123/uploads/550e8400-e29b-41d4-a716-446655440001
                    method: PUT
                    expires_in_secs: 3600
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/usage:
    get:
      tags:
        - usage
      summary: Get usage statistics and quota
      operationId: get_usage
      parameters:
        - name: start
          in: query
          description: Start date (ISO 8601, e.g. "2026-03-01"). Defaults to first day of current month.
          required: false
          schema:
            type:
              - string
              - "null"
        - name: end
          in: query
          description: End date (ISO 8601, e.g. "2026-04-01"). Defaults to first day of next month.
          required: false
          schema:
            type:
              - string
              - "null"
      responses:
        "200":
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
              example:
                period_start: "2026-05-01"
                period_end: "2026-06-01"
                total_pages: 5432
                total_documents: 87
                total_failed: 2
                quota_limit: 100000
                quota_remaining: 94568
                by_mime_type:
                  application/pdf:
                    documents: 65
                    pages: 3200
                    failed: 1
                  image/png:
                    documents: 15
                    pages: 1800
                    failed: 0
                  text/plain:
                    documents: 7
                    pages: 432
                    failed: 1
        "400":
          description: Invalid date format
        "401":
          description: Unauthorized
      security:
        - bearer_auth: []
components:
  schemas:
    AnnotationKind:
      oneOf:
        - type: object
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - bold
        - type: object
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - italic
        - type: object
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - underline
        - type: object
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - strikethrough
        - type: object
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - code
        - type: object
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - subscript
        - type: object
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - superscript
        - type: object
          required:
            - url
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - link
            title:
              type:
                - string
                - "null"
            url:
              type: string
        - type: object
          description: Highlighted text (PDF highlights, HTML `<mark>`).
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - highlight
        - type: object
          description: Text color (CSS-compatible value, e.g. "#ff0000", "red").
          required:
            - value
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - color
            value:
              type: string
        - type: object
          description: Font size with units (e.g. "12pt", "1.2em", "16px").
          required:
            - value
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - font_size
            value:
              type: string
        - type: object
          description: Extensible annotation for format-specific styling.
          required:
            - name
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - custom
            name:
              type: string
            value:
              type:
                - string
                - "null"
      description: Types of inline text annotations.
    ArchiveEntry:
      type: object
      description: |-
        A single file extracted from an archive.

        When archives (ZIP, TAR, 7Z, GZIP) are extracted with recursive extraction
        enabled, each processable file produces its own full `ExtractionResult`.
      required:
        - path
        - mime_type
        - result
      properties:
        mime_type:
          type: string
          description: Detected MIME type of the file.
        path:
          type: string
          description: Archive-relative file path (e.g. "folder/document.pdf").
        result:
          $ref: '#/components/schemas/ExtractionResult'
          description: Full extraction result for this file.
    ArchiveMetadata:
      type: object
      description: |-
        Archive (ZIP/TAR/7Z) metadata.

        Extracted from compressed archive files containing file lists and size information.
      required:
        - format
        - file_count
        - file_list
        - total_size
      properties:
        compressed_size:
          type:
            - integer
            - "null"
          format: int64
          description: Compressed size in bytes (if available)
          minimum: 0
        file_count:
          type: integer
          format: int32
          description: Total number of files in the archive
          minimum: 0
        file_list:
          type: array
          items:
            type: string
          description: List of file paths within the archive
        format:
          type: string
          description: Archive format ("ZIP", "TAR", "7Z", etc.)
        total_size:
          type: integer
          format: int64
          description: Total uncompressed size in bytes
          minimum: 0
    Attributes:
      type: object
      description: |-
        Element attributes in Djot.

        Represents the attributes attached to elements using {.class #id key="value"} syntax.
      properties:
        classes:
          type: array
          items:
            type: string
          description: CSS classes (.class1 .class2)
        id:
          type:
            - string
            - "null"
          description: Element ID (#identifier)
        key_values:
          type: array
          items:
            type: array
            items:
              type: string
          description: Key-value pairs (key="value")
    BlockType:
      type: string
      description: Types of block-level elements in Djot.
      enum:
        - paragraph
        - heading
        - blockquote
        - code_block
        - list_item
        - ordered_list
        - bullet_list
        - task_list
        - definition_list
        - definition_term
        - definition_description
        - div
        - section
        - thematic_break
        - raw_block
        - math_display
    BoundingBox:
      type: object
      description: Bounding box coordinates for element positioning.
      required:
        - x0
        - y0
        - x1
        - y1
      properties:
        x0:
          type: number
          format: double
          description: Left x-coordinate
        x1:
          type: number
          format: double
          description: Right x-coordinate
        y0:
          type: number
          format: double
          description: Bottom y-coordinate
        y1:
          type: number
          format: double
          description: Top y-coordinate
    BrowserOverrides:
      type: object
      description: |-
        Browser rendering overrides for a specific crawl request.
        Allows per-request override of browser backend, mode, and stealth settings.
      properties:
        backend:
          type:
            - string
            - "null"
          description: 'Browser backend: "native" (lightweight Rust-based) or "chromiumoxide" (Chrome-based)'
          example: native
        mode:
          type:
            - string
            - "null"
          description: 'Browser mode: "auto" (default, use browser if needed), "always" (always use), or "never" (never use)'
          example: auto
        stealth:
          type:
            - boolean
            - "null"
          description: Enable browser stealth mode (TLS fingerprint + UA spoof) — only honored by native backend
          example: false
    BypassMode:
      type: string
      description: |-
        Bypass mode — determines whether cloud provides credentials (managed) or
        the customer does (bring-your-own).
      enum:
        - managed
        - byo
    BypassRequestOverride:
      type: object
      description: |-
        Per-request bypass override. When set on a crawl request, applies an
        external bypass provider (e.g., Bright Data, Zyte, ScrapingBee) to bypass
        WAF/antibot on the crawl.
      required:
        - mode
        - vendor
      properties:
        credentials:
          description: |-
            Per-vendor credentials JSON. Required when mode = byo; ignored for
            managed (cloud uses its own credentials from Secret Manager).
        mode:
          $ref: '#/components/schemas/BypassMode'
          description: Whether cloud provides vendor credentials (managed) or caller does (byo).
        vendor:
          type: string
          description: |-
            Vendor identifier — must be registered in bypass-providers/registry.
            Today: "bright_data" | "zyte" | "scrapingbee".
    CellChange:
      type: object
      description: |-
        A single changed cell within a table.

        Defined here (rather than only in `crate::diff`) so `RevisionDelta` can
        reference it unconditionally, without requiring the `diff` Cargo feature.
        `crate::diff` re-exports this type verbatim.
      required:
        - row
        - col
        - from
        - to
      properties:
        col:
          type: integer
          description: Zero-based column index.
          minimum: 0
        from:
          type: string
          description: Value before the change.
        row:
          type: integer
          description: Zero-based row index.
          minimum: 0
        to:
          type: string
          description: Value after the change.
    Chunk:
      type: object
      description: |-
        A text chunk with optional embedding and metadata.

        Chunks are created when chunking is enabled in `ExtractionConfig`. Each chunk
        contains the text content, optional embedding vector (if embedding generation
        is configured), and metadata about its position in the document.
      required:
        - content
        - metadata
      properties:
        chunk_type:
          $ref: '#/components/schemas/ChunkType'
          description: |-
            Semantic structural classification of this chunk.

            Assigned by the heuristic classifier based on content patterns and
            heading context. Defaults to `ChunkType::Unknown` when no rule matches.
        content:
          type: string
          description: The text content of this chunk.
        embedding:
          type:
            - array
            - "null"
          items:
            type: number
            format: float
          description: |-
            Optional embedding vector for this chunk.

            Only populated when `EmbeddingConfig` is provided in chunking configuration.
            The dimensionality depends on the chosen embedding model.
        metadata:
          $ref: '#/components/schemas/ChunkMetadata'
          description: Metadata about this chunk's position and properties.
    ChunkMetadata:
      type: object
      description: Metadata about a chunk's position in the original document.
      required:
        - byte_start
        - byte_end
        - chunk_index
        - total_chunks
      properties:
        byte_end:
          type: integer
          description: Byte offset where this chunk ends in the original text (UTF-8 valid boundary).
          minimum: 0
        byte_start:
          type: integer
          description: Byte offset where this chunk starts in the original text (UTF-8 valid boundary).
          minimum: 0
        chunk_index:
          type: integer
          description: Zero-based index of this chunk in the document.
          minimum: 0
        first_page:
          type:
            - integer
            - "null"
          format: int32
          description: |-
            First page number this chunk spans (1-indexed).

            Only populated when page tracking is enabled in extraction configuration.
          minimum: 0
        heading_context:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/HeadingContext'
              description: |-
                Heading context when using Markdown chunker.

                Contains the heading hierarchy this chunk falls under.
                Only populated when `ChunkerType::Markdown` is used.
        image_indices:
          type: array
          items:
            type: integer
            format: int32
            minimum: 0
          description: |-
            Indices into `ExtractionResult.images` for images on pages covered by this chunk.

            Contains zero-based indices into the top-level `images` collection for every
            image whose `page_number` falls within `[first_page, last_page]`.
            Empty when image extraction is disabled or the chunk spans no pages with images.
        last_page:
          type:
            - integer
            - "null"
          format: int32
          description: |-
            Last page number this chunk spans (1-indexed, equal to first_page for single-page chunks).

            Only populated when page tracking is enabled in extraction configuration.
          minimum: 0
        token_count:
          type:
            - integer
            - "null"
          description: |-
            Number of tokens in this chunk (if available).

            This is calculated by the embedding model's tokenizer if embeddings are enabled.
          minimum: 0
        total_chunks:
          type: integer
          description: Total number of chunks in the document.
          minimum: 0
    ChunkType:
      type: string
      description: |-
        Semantic structural classification of a text chunk.

        Assigned by the heuristic classifier in `chunking::classifier`.
        Defaults to `Unknown` when no rule matches.
        Designed to be extended in future versions without breaking changes.
      enum:
        - heading
        - party_list
        - definitions
        - operative_clause
        - signature_block
        - schedule
        - table_like
        - formula
        - code_block
        - image
        - org_chart
        - diagram
        - unknown
    ChunkingConfig:
      type: object
      description: Text chunking configuration.
      properties:
        chunker_type:
          type:
            - string
            - "null"
          description: 'Chunker type: "text", "markdown", "yaml"'
        embedding:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/EmbeddingConfig'
              description: Embedding generation configuration
        max_characters:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum chunk size in characters
          minimum: 0
        overlap:
          type:
            - integer
            - "null"
          format: int32
          description: Overlap between adjacent chunks in characters
          minimum: 0
        preset:
          type:
            - string
            - "null"
          description: Preset name (overrides other settings)
        trim:
          type:
            - boolean
            - "null"
          description: Trim whitespace from chunk boundaries
    ConfirmUploadRequest:
      type: object
      description: Request body for confirming uploads
      required:
        - batch_id
      properties:
        batch_id:
          type: string
          description: Batch ID from the presign response
    ConfirmUploadResponse:
      type: object
      description: Response from confirm endpoint
      required:
        - job_ids
        - status
      properties:
        job_ids:
          type: array
          items:
            type: string
          description: Job IDs that are now queued for processing
        status:
          type: string
          description: Status of the jobs
    ContentFilterConfig:
      type: object
      description: Content filtering configuration (headers, footers, watermarks).
      properties:
        include_footers:
          type: boolean
          description: Include running footers
        include_headers:
          type: boolean
          description: Include running headers
        include_watermarks:
          type: boolean
          description: Include watermarks
        strip_repeating_text:
          type: boolean
          description: Strip cross-page repeating text
    ContentLayer:
      type: string
      description: |-
        Content layer classification for document nodes.

        Replaces separate body/furniture arrays with per-node granularity.
      enum:
        - body
        - header
        - footer
        - footnote
    CrawlChildJob:
      type: object
      description: A child extraction job spawned by a crawl job.
      required:
        - id
        - filename
        - status
      properties:
        body_bytes:
          type:
            - integer
            - "null"
          format: int64
          description: |-
            Raw body size in bytes of the source document fed to extraction.
            For HTML pages this is the rendered HTML length; for binary
            documents it is the downloaded file size. Lets callers detect
            suspiciously small responses (e.g. WAF challenge pages captured
            as the "document" — typically 5–30 KB).
          example: 18234
        filename:
          type: string
          description: Filename
          example: guide.pdf
        id:
          type: string
          format: uuid
          description: Job ID (queryable via GET /v1/jobs/{id})
          example: 550e8400-e29b-41d4-a716-446655440000
        processing_time_ms:
          type:
            - integer
            - "null"
          format: int64
          description: Processing time in ms (when completed)
          example: 1234
        result:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionResult'
              description: Extraction result (when completed)
        source_url:
          type:
            - string
            - "null"
          description: Source URL where this document was found
          example: https://example.com/docs/guide.pdf
        status:
          type: string
          description: Job status
          example: completed
      example:
        id: 550e8400-e29b-41d4-a716-446655440000
        source_url: https://example.com/docs/guide.pdf
        filename: guide.pdf
        status: completed
        processing_time_ms: 1234
    CrawlConfig:
      type: object
      description: Crawl policy configuration — controls URL crawling behavior.
      properties:
        allow_subdomains:
          type:
            - boolean
            - "null"
          description: 'Allow subdomains of the seed domain (default: true)'
          example: true
        allowed_file_types:
          type: array
          items:
            type: string
          description: 'MIME types of documents to extract (default: all supported by kreuzberg)'
          example:
            - application/pdf
            - text/html
        browser:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BrowserOverrides'
              description: Browser rendering configuration overrides for this request
        bypass:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BypassRequestOverride'
              description: |-
                Per-request bypass override. When set, applies an external bypass
                provider to bypass WAF/antibot on the crawl.
        document_url_depth:
          type:
            - integer
            - "null"
          format: int32
          description: 'Max depth for URL-following from documents (default: 1, max: 3)'
          example: 1
          maximum: 3
          minimum: 0
        exclude_paths:
          type: array
          items:
            type: string
          description: Regex patterns — skip URLs matching these
          example:
            - /admin/.*
            - /login
        extract_page_content:
          type:
            - boolean
            - "null"
          description: 'Also extract the HTML page content as markdown (default: false)'
          example: false
        follow_document_urls:
          type:
            - boolean
            - "null"
          description: 'Follow URLs discovered inside extracted documents (default: false)'
          example: false
        include_paths:
          type: array
          items:
            type: string
          description: Regex patterns — only crawl URLs matching these
          example:
            - /docs/.*
            - /blog/.*
        max_concurrent:
          type:
            - integer
            - "null"
          format: int32
          description: 'Maximum concurrent requests (default: 10)'
          example: 10
          minimum: 0
        max_depth:
          type:
            - integer
            - "null"
          format: int32
          description: 'Maximum crawl depth from seed URL (default: 2, max: 5)'
          example: 2
          maximum: 5
          minimum: 0
        max_pages:
          type:
            - integer
            - "null"
          format: int32
          description: 'Maximum pages to crawl (default: 100, max: 10000)'
          example: 100
          maximum: 10000
          minimum: 0
        output_mode:
          type:
            - string
            - "null"
          description: |-
            Output mode (default: "extract").
            - "scrape":  single-page fetch, no recursion, no extraction
            - "crawl":   multi-page crawl, no extraction (raw content returned)
            - "extract": multi-page crawl + extract each discovered document
          example: extract
        proxy:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ProxyOverride'
              description: |-
                Per-request proxy override. When set, this proxy is used for this
                crawl instead of the worker's process-wide proxy pool.
        request_timeout_secs:
          type:
            - integer
            - "null"
          format: int64
          description: 'Per-request timeout in seconds (default: 30)'
          example: 30
          minimum: 0
        respect_robots_txt:
          type:
            - boolean
            - "null"
          description: 'Respect robots.txt (default: true)'
          example: true
        stay_on_domain:
          type:
            - boolean
            - "null"
          description: 'Stay on the same domain as seed URL (default: true)'
          example: true
        strategy:
          type:
            - string
            - "null"
          description: 'Crawl strategy: "bfs" (default), "dfs", "best_first", "adaptive"'
          example: bfs
        user_agent:
          type:
            - string
            - "null"
          description: Custom User-Agent string
          example: KreuzbergBot/1.0
      example:
        max_depth: 2
        max_pages: 100
        max_concurrent: 10
        stay_on_domain: true
        allow_subdomains: true
        respect_robots_txt: true
    CrawlJobResponse:
      type: object
      description: Response for crawl job status query
      required:
        - id
        - status
        - seed_urls
        - output_mode
        - created_at
        - progress
      properties:
        created_at:
          type: string
          format: date-time
          description: Creation timestamp (RFC3339)
          example: "2025-12-21T10:00:00Z"
        id:
          type: string
          format: uuid
          description: Crawl job ID
          example: 660e9400-f39c-51e5-b827-557766551111
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/CrawlChildJob'
          description: Child extraction jobs (populated when output_mode=extract)
        output_mode:
          type: string
          description: Output mode this job was submitted with (scrape, crawl, or extract)
          example: extract
        pages:
          type: array
          items:
            $ref: '#/components/schemas/CrawledPage'
          description: Crawled raw pages (populated when output_mode=scrape|crawl)
        progress:
          $ref: '#/components/schemas/CrawlProgress'
          description: Crawl progress counters
        seed_urls:
          type: array
          items:
            type: string
          description: Seed URLs that were submitted
          example:
            - https://example.com/docs
        status:
          $ref: '#/components/schemas/CrawlJobStatus'
          description: Crawl job status
      example:
        id: 660e9400-f39c-51e5-b827-557766551111
        status: extracting
        seed_urls:
          - https://example.com/docs
        created_at: "2025-12-21T10:00:00Z"
        progress:
          pages_crawled: 42
          documents_discovered: 15
          documents_extracted: 10
          documents_failed: 0
        jobs: []
    CrawlJobStatus:
      type: string
      description: Crawl job status
      enum:
        - pending
        - crawling
        - extracting
        - completed
        - partial_success
        - failed
        - cancelled
    CrawlProgress:
      type: object
      description: Crawl progress counters
      required:
        - pages_crawled
        - documents_discovered
        - documents_extracted
        - documents_failed
      properties:
        documents_discovered:
          type: integer
          format: int32
        documents_extracted:
          type: integer
          format: int32
        documents_failed:
          type: integer
          format: int32
        pages_crawled:
          type: integer
          format: int32
    CrawledPage:
      type: object
      description: A raw crawled page persisted for output_mode=scrape|crawl.
      required:
        - url
        - status
        - fetched_at
      properties:
        content_url:
          type:
            - string
            - "null"
          description: Presigned URL for downloading the raw content
        error:
          type:
            - string
            - "null"
          description: Error message (when status=failed)
        fetched_at:
          type: string
          format: date-time
          description: Fetch timestamp (RFC3339)
          example: "2025-12-21T10:00:00Z"
        mime_type:
          type:
            - string
            - "null"
          description: MIME type
          example: text/html
        size_bytes:
          type:
            - integer
            - "null"
          format: int64
          description: Size in bytes
          example: 12345
        status:
          type: string
          description: 'Fetch status: "completed" | "failed"'
          example: completed
        url:
          type: string
          description: Source URL
          example: https://example.com/docs/index.html
      example:
        url: https://example.com/docs/index.html
        status: completed
        mime_type: text/html
        size_bytes: 12345
        fetched_at: "2025-12-21T10:00:00Z"
    CreateSandboxKeyRequest:
      type: object
      description: Sandbox key creation request (body not used, but for API clarity)
    CreateSandboxKeyResponse:
      type: object
      description: Sandbox key response
      required:
        - api_key
        - expires_at
        - pages_remaining
      properties:
        api_key:
          type: string
          description: 'The sandbox API key (use in Authorization: Bearer header)'
          example: sk_sandbox_ABC123DEF456GHI789JKL012MNO345PQR678STU901VWX234
        expires_at:
          type: string
          format: date-time
          description: When the key expires (RFC3339 format)
          example: "2025-12-21T10:00:00Z"
        pages_remaining:
          type: integer
          format: int32
          description: Page extraction quota for this key
          example: 50
    CsvMetadata:
      type: object
      description: CSV/TSV file metadata.
      required:
        - row_count
        - column_count
        - has_header
      properties:
        column_count:
          type: integer
          format: int32
          minimum: 0
        column_types:
          type:
            - array
            - "null"
          items:
            type: string
        delimiter:
          type:
            - string
            - "null"
        has_header:
          type: boolean
        row_count:
          type: integer
          format: int32
          minimum: 0
    DiffAsyncAccepted:
      type: object
      description: Response for a submitted async diff job.
      required:
        - diff_job_id
        - status
      properties:
        diff_job_id:
          type: string
          format: uuid
          description: The ID of the diff job for polling.
        status:
          $ref: '#/components/schemas/DiffJobStatus'
          description: Current status of the job.
    DiffJobStatus:
      type: string
      description: Status of an async diff job.
      enum:
        - pending
        - succeeded
        - failed
    DiffLine:
      oneOf:
        - type: object
          description: Unchanged context line.
          required:
            - text
            - kind
          properties:
            kind:
              type: string
              enum:
                - context
            text:
              type: string
              description: Unchanged context line.
        - type: object
          description: Line added in the "after" version.
          required:
            - text
            - kind
          properties:
            kind:
              type: string
              enum:
                - added
            text:
              type: string
              description: Line added in the "after" version.
        - type: object
          description: Line removed from the "before" version.
          required:
            - text
            - kind
          properties:
            kind:
              type: string
              enum:
                - removed
            text:
              type: string
              description: Line removed from the "before" version.
      description: |-
        A single line in a unified-diff hunk.

        Defined here (rather than only in `crate::diff`) so `RevisionDelta` can
        reference it unconditionally, without requiring the `diff` Cargo feature.
        `crate::diff` re-exports this type verbatim.
    DiffQuery:
      type: object
      description: Query parameters for diff computation.
      required:
        - from
        - to
      properties:
        from:
          type: string
          description: Version sequence or job ID for the "from" extraction.
        to:
          type: string
          description: Version sequence or job ID for the "to" extraction.
    DiffResponse:
      type: object
      description: Response envelope for a computed diff between two extraction results.
      required:
        - from_job_id
        - to_job_id
        - from_version
        - to_version
        - document_id
        - diff
        - computed_at
      properties:
        computed_at:
          type: string
          format: date-time
          description: Timestamp when the diff was computed.
        diff:
          description: |-
            The computed diff between the two extraction results.

            Serialized to the wire as the full `kreuzberg::diff::ExtractionDiff`
            shape. The OpenAPI schema declares this as an opaque object because
            the underlying type recurses through `EmbeddedDiff -> Box<ExtractionDiff>`
            and utoipa's schema collector goes into a stack-overflow on inlined
            recursion. SDKs that want a typed surface here should decode the
            JSON manually against kreuzberg's published schema.
        document_id:
          type: string
          format: uuid
          description: Document ID being diffed.
        from_job_id:
          type: string
          format: uuid
          description: Job ID of the "from" (older) version.
        from_version:
          type: integer
          format: int32
          description: Version sequence number of the "from" version.
        to_job_id:
          type: string
          format: uuid
          description: Job ID of the "to" (newer) version.
        to_version:
          type: integer
          format: int32
          description: Version sequence number of the "to" version.
    DjotContent:
      type: object
      description: |-
        Comprehensive Djot document structure with semantic preservation.

        This type captures the full richness of Djot markup, including:
        - Block-level structures (headings, lists, blockquotes, code blocks, etc.)
        - Inline formatting (emphasis, strong, highlight, subscript, superscript, etc.)
        - Attributes (classes, IDs, key-value pairs)
        - Links, images, footnotes
        - Math expressions (inline and display)
        - Tables with full structure

        Available when the `djot` feature is enabled.
      required:
        - plain_text
        - blocks
        - metadata
        - tables
        - images
        - links
        - footnotes
      properties:
        attributes:
          description: Attributes mapped by element identifier (if present)
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/FormattedBlock'
          description: Structured block-level content
        footnotes:
          type: array
          items:
            $ref: '#/components/schemas/Footnote'
          description: Footnote definitions
        images:
          type: array
          items:
            $ref: '#/components/schemas/DjotImage'
          description: Extracted images with metadata
        links:
          type: array
          items:
            $ref: '#/components/schemas/DjotLink'
          description: Extracted links with URLs
        metadata:
          $ref: '#/components/schemas/Metadata'
          description: Metadata from YAML frontmatter
        plain_text:
          type: string
          description: Plain text representation for backwards compatibility
        tables:
          type: array
          items:
            $ref: '#/components/schemas/Table'
          description: Extracted tables as structured data
    DjotImage:
      type: object
      description: Image element in Djot.
      required:
        - src
        - alt
      properties:
        alt:
          type: string
          description: Alternative text
        attributes:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/Attributes'
              description: Element attributes
        src:
          type: string
          description: Image source URL or path
        title:
          type:
            - string
            - "null"
          description: Optional title
    DjotLink:
      type: object
      description: Link element in Djot.
      required:
        - url
        - text
      properties:
        attributes:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/Attributes'
              description: Element attributes
        text:
          type: string
          description: Link text content
        title:
          type:
            - string
            - "null"
          description: Optional title
        url:
          type: string
          description: Link URL
    DocumentInput:
      type: object
      description: Document input for JSON extraction requests
      required:
        - filename
        - mime_type
        - data
      properties:
        data:
          type: string
          description: Base64-encoded document data
        document_id:
          type:
            - string
            - "null"
          format: uuid
          description: |-
            Optional client-supplied document identifier. When provided, this
            extraction is recorded as a version of that logical document and the
            response carries `document_id` + `version_sequence`. Server mints a
            new UUID when absent.
        filename:
          type: string
          description: Original filename
        mime_type:
          type: string
          description: MIME type of the document
    DocumentNode:
      type: object
      description: |-
        A single node in the document tree.

        Each node has deterministic `id`, typed `content`, optional `parent`/`children`
        for tree structure, and metadata like page number, bounding box, and content layer.
      required:
        - id
        - content
      properties:
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/TextAnnotation'
          description: |-
            Inline annotations (formatting, links) on this node's text content.

            Only meaningful for text-carrying nodes; empty for containers.
        attributes:
          type:
            - object
            - "null"
          description: |-
            Format-specific key-value attributes.

            Extensible bag for miscellaneous data without a dedicated typed field: CSS classes,
            LaTeX environment names, Excel cell formulas, slide layout names, etc.
          additionalProperties:
            type: string
          propertyNames:
            type: string
        bbox:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BoundingBox'
              description: Bounding box in document coordinates.
        children:
          type: array
          items:
            $ref: '#/components/schemas/NodeIndex'
          description: Child node indices in reading order.
        content:
          $ref: '#/components/schemas/NodeContent'
          description: Node content — tagged enum, type-specific data only.
        content_layer:
          $ref: '#/components/schemas/ContentLayer'
          description: Content layer classification.
        id:
          $ref: '#/components/schemas/NodeId'
          description: Deterministic identifier (hash of content + position).
        page:
          type:
            - integer
            - "null"
          format: int32
          description: Page number where this node starts (1-indexed).
          minimum: 0
        page_end:
          type:
            - integer
            - "null"
          format: int32
          description: Page number where this node ends (for multi-page tables/sections).
          minimum: 0
        parent:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/NodeIndex'
              description: Parent node index (`None` = root-level node).
    DocumentRelationship:
      type: object
      description: A resolved relationship between two nodes in the document tree.
      required:
        - source
        - target
        - kind
      properties:
        kind:
          $ref: '#/components/schemas/RelationshipKind'
          description: Semantic kind of the relationship.
        source:
          $ref: '#/components/schemas/NodeIndex'
          description: Source node index (the referencing node).
        target:
          $ref: '#/components/schemas/NodeIndex'
          description: Target node index (the referenced node).
    DocumentRevision:
      type: object
      description: |-
        A single tracked change embedded in a document.

        Populated by per-format extractors that understand change-tracking metadata
        (DOCX `w:ins`/`w:del`/`w:rPrChange`, ODT `text:change-*`, …). Every
        extractor defaults to `ExtractionResult.revisions = None` until a
        format-specific implementation is added.
      required:
        - revision_id
        - kind
        - delta
      properties:
        anchor:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/RevisionAnchor'
              description: |-
                Best-effort document location for this revision.

                Resolution is format-dependent and may be `None` when the location
                cannot be determined (e.g. changes inside table cells before
                table-cell anchor support is added).
        author:
          type:
            - string
            - "null"
          description: Display name of the author who made this change, when available.
        delta:
          $ref: '#/components/schemas/RevisionDelta'
          description: The content changes that make up this revision.
        kind:
          $ref: '#/components/schemas/RevisionKind'
          description: Semantic kind of this revision.
        revision_id:
          type: string
          description: |-
            Format-specific revision identifier.

            For DOCX this is the `w:id` attribute value on the change element
            (e.g. `"42"`). When the attribute is absent a synthetic fallback is
            generated (`"docx-ins-0"`, `"docx-del-3"`, …).
        timestamp:
          type:
            - string
            - "null"
          description: |-
            ISO-8601 timestamp of the change, when available.

            Stored as a plain string so this type remains FFI-friendly and
            unconditionally available without the `chrono` optional dep.
            DOCX populates this from the `w:date` attribute (e.g.
            `"2024-03-15T10:30:00Z"`).
    DocumentStructure:
      type: object
      description: |-
        Top-level structured document representation.

        A flat array of nodes with index-based parent/child references forming a tree.
        Root-level nodes have `parent: None`. Use `body_roots()` and `furniture_roots()`
        to iterate over top-level content by layer.

        # Validation

        Call `validate()` after construction to verify all node indices are in bounds
        and parent-child relationships are bidirectionally consistent.
      required:
        - nodes
      properties:
        node_types:
          type: array
          items:
            type: string
          description: |-
            Sorted, deduplicated list of node type names present in this document.

            Each value is the snake_case `node_type` tag of the corresponding
            [`NodeContent`] variant (e.g. `"paragraph"`, `"heading"`, `"table"`, …).

            Computed from [`nodes`] via [`DocumentStructure::finalize_node_types`].
            Empty until that method is called (internal construction paths call it
            at the end of derivation).
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/DocumentNode'
          description: All nodes in document/reading order.
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/DocumentRelationship'
          description: |-
            Resolved relationships between nodes (footnote refs, citations, anchor links, etc.).

            Populated during derivation from the internal document representation.
            Empty when no relationships are detected.
        source_format:
          type:
            - string
            - "null"
          description: |-
            Origin format identifier (e.g. "docx", "pptx", "html", "pdf").

            Allows renderers to apply format-aware heuristics when converting
            the document tree to output formats.
    DocumentSubmission:
      type: object
      description: Per-document submission metadata
      required:
        - job_id
      properties:
        document_id:
          type:
            - string
            - "null"
          description: Optional document ID from lineage (None for non-lineage jobs)
        job_id:
          type: string
          description: Job ID for the submitted document
        version_sequence:
          type:
            - integer
            - "null"
          format: int32
          description: Optional version sequence for lineage (None for non-lineage jobs)
    DocumentVersionEntry:
      type: object
      description: Entry in the document versions list.
      required:
        - job_id
        - version_sequence
        - content_hash
        - status
        - filename
        - mime_type
        - file_size_bytes
        - pages_extracted
        - billable_pages
        - created_at
      properties:
        billable_pages:
          type: integer
          format: int32
          description: Number of billable pages.
        content_hash:
          type: string
          description: SHA-256 hash of the extracted content.
        created_at:
          type: string
          description: When the job was created.
        file_size_bytes:
          type: integer
          format: int64
          description: File size in bytes.
        filename:
          type: string
          description: Original filename.
        job_id:
          type: string
          format: uuid
          description: Job ID for this version.
          example: 550e8400-e29b-41d4-a716-446655440000
        mime_type:
          type: string
          description: MIME type of the uploaded file.
        pages_extracted:
          type: integer
          format: int32
          description: Number of pages extracted.
        processing_completed_at:
          type:
            - string
            - "null"
          description: When processing completed (only set for completed/failed jobs).
        status:
          type: string
          description: Job status.
        version_sequence:
          type: integer
          format: int32
          description: Version sequence number (incrementing per document).
    Element:
      type: object
      description: |-
        Semantic element extracted from document.

        Represents a logical unit of content with semantic classification,
        unique identifier, and metadata for tracking origin and position.
      required:
        - element_id
        - element_type
        - text
        - metadata
      properties:
        element_id:
          $ref: '#/components/schemas/ElementId'
          description: Unique element identifier
        element_type:
          $ref: '#/components/schemas/ElementType'
          description: Semantic type of this element
        metadata:
          $ref: '#/components/schemas/ElementMetadata'
          description: Metadata about the element
        text:
          type: string
          description: Text content of the element
    ElementId:
      type: string
      description: |-
        Unique identifier for semantic elements.

        Wraps a string identifier that is deterministically generated
        from element type, content, and page number.
    ElementMetadata:
      type: object
      description: Metadata for a semantic element.
      required:
        - additional
      properties:
        additional:
          type: object
          description: Additional custom metadata
          additionalProperties:
            type: string
          propertyNames:
            type: string
        coordinates:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BoundingBox'
              description: Bounding box coordinates if available
        element_index:
          type:
            - integer
            - "null"
          description: Position index in the element sequence
          minimum: 0
        filename:
          type:
            - string
            - "null"
          description: Source filename or document name
        page_number:
          type:
            - integer
            - "null"
          format: int32
          description: Page number (1-indexed)
          minimum: 0
    ElementType:
      type: string
      description: |-
        Semantic element type classification.

        Categorizes text content into semantic units for downstream processing.
        Supports the element types commonly found in Unstructured documents.
      enum:
        - title
        - narrative_text
        - heading
        - list_item
        - table
        - image
        - page_break
        - code_block
        - block_quote
        - footer
        - header
    EmailMetadata:
      type: object
      description: |-
        Email metadata extracted from .eml and .msg files.

        Includes sender/recipient information, message ID, and attachment list.
      required:
        - to_emails
        - cc_emails
        - bcc_emails
        - attachments
      properties:
        attachments:
          type: array
          items:
            type: string
          description: List of attachment filenames
        bcc_emails:
          type: array
          items:
            type: string
          description: BCC recipients
        cc_emails:
          type: array
          items:
            type: string
          description: CC recipients
        from_email:
          type:
            - string
            - "null"
          description: Sender's email address
        from_name:
          type:
            - string
            - "null"
          description: Sender's display name
        message_id:
          type:
            - string
            - "null"
          description: Message-ID header value
        to_emails:
          type: array
          items:
            type: string
          description: Primary recipients
    EmbeddingConfig:
      type: object
      description: Embedding generation configuration for chunks.
      properties:
        batch_size:
          type:
            - integer
            - "null"
          format: int32
          description: Batch size for embedding generation
          minimum: 0
        model:
          description: 'Model configuration (flexible JSON: {"type":"preset","name":"balanced"})'
        normalize:
          type:
            - boolean
            - "null"
          description: Normalize embedding vectors
        show_download_progress:
          type:
            - boolean
            - "null"
          description: Show model download progress
    ErrorMetadata:
      type: object
      description: Error metadata (for batch operations).
      required:
        - error_type
        - message
      properties:
        error_type:
          type: string
        message:
          type: string
    ErrorResponse:
      type: object
      description: Error response
      required:
        - error
      properties:
        error:
          type: string
          description: Error message
          example: Invalid job ID format
    ExcelMetadata:
      type: object
      description: |-
        Excel/spreadsheet format metadata.

        Identifies the document as a spreadsheet source via the `FormatMetadata::Excel`
        discriminant. Sheet count and sheet names are stored inside this struct.
      properties:
        sheet_count:
          type:
            - integer
            - "null"
          format: int32
          description: Number of sheets in the workbook.
          minimum: 0
        sheet_names:
          type:
            - array
            - "null"
          items:
            type: string
          description: Names of all sheets in the workbook.
    ExtractJsonRequest:
      type: object
      description: JSON body for `POST /v1/extract`
      properties:
        crawl_config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/CrawlConfig'
              description: Crawl configuration (applies to all URLs, can be overridden per-URL)
        documents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentInput'
          description: Documents to process
        options:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionOptions'
              description: Extraction options (optional)
        urls:
          type: array
          items:
            $ref: '#/components/schemas/UrlInput'
          description: URLs to crawl and extract documents from
        webhook:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/WebhookConfig'
              description: Webhook configuration for async result delivery (optional)
    ExtractResponse:
      type: object
      description: Extract response (HTTP 202)
      required:
        - status
      properties:
        crawl_job_ids:
          type: array
          items:
            type: string
          description: Crawl job IDs (one per URL group)
        documents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentSubmission'
          description: Detailed document submissions (new, includes lineage when present)
        job_ids:
          type: array
          items:
            type: string
          description: Job IDs for direct file extractions (backward compat)
        status:
          type: string
          description: Job status
    ExtractedImage:
      type: object
      description: |-
        Extracted image from a document.

        Contains raw image data, metadata, and optional nested OCR results.
        Raw bytes allow cross-language compatibility - users can convert to
        PIL.Image (Python), Sharp (Node.js), or other formats as needed.
      required:
        - data
        - format
        - image_index
      properties:
        bits_per_component:
          type:
            - integer
            - "null"
          format: int32
          description: Bits per color component (e.g., 8, 16)
          minimum: 0
        bounding_box:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BoundingBox'
              description: |-
                Bounding box of the image on the page (PDF coordinates: x0=left, y0=bottom, x1=right, y1=top).
                Only populated for PDF-extracted images when position data is available from the PDF extractor.
        cluster_id:
          type:
            - integer
            - "null"
          format: int32
          description: |-
            Identifier shared across images that form a single logical figure
            (e.g. all raster tiles of one technical drawing). `None` for singletons.
          minimum: 0
        colorspace:
          type:
            - string
            - "null"
          description: Colorspace information (e.g., "RGB", "CMYK", "Gray")
        data:
          type: array
          items:
            type: integer
            format: binary
            minimum: 0
          description: |-
            Raw image data (PNG, JPEG, WebP, etc. bytes).
            Uses `bytes::Bytes` for cheap cloning of large buffers.
        description:
          type:
            - string
            - "null"
          description: Optional description of the image
        format:
          type: string
          description: |-
            Image format (e.g., "jpeg", "png", "webp")
            Uses Cow<'static, str> to avoid allocation for static literals.
        height:
          type:
            - integer
            - "null"
          format: int32
          description: Image height in pixels
          minimum: 0
        image_index:
          type: integer
          format: int32
          description: Zero-indexed position of this image in the document/page
          minimum: 0
        image_kind:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ImageKind'
              description: |-
                Heuristic classification of what this image likely depicts.
                `None` if classification was disabled or inconclusive.
        is_mask:
          type: boolean
          description: Whether this image is a mask image
        kind_confidence:
          type:
            - number
            - "null"
          format: float
          description: Confidence score for `image_kind`, in the range 0.0 to 1.0.
        ocr_result:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionResult'
              description: |-
                Nested OCR extraction result (if image was OCRed)

                When OCR is performed on this image, the result is embedded here
                rather than in a separate collection, making the relationship explicit.
        page_number:
          type:
            - integer
            - "null"
          format: int32
          description: Page/slide number where image was found (1-indexed)
          minimum: 0
        source_path:
          type:
            - string
            - "null"
          description: |-
            Original source path of the image within the document archive (e.g., "media/image1.png" in DOCX).
            Used for rendering image references when the binary data is not extracted.
        width:
          type:
            - integer
            - "null"
          format: int32
          description: Image width in pixels
          minimum: 0
    ExtractedUri:
      type: object
      description: |-
        A URI extracted from a document.

        Represents any link, reference, or resource pointer found during extraction.
        The `kind` field classifies the URI semantically, while `label` carries
        optional human-readable display text.
      required:
        - url
        - kind
      properties:
        kind:
          $ref: '#/components/schemas/UriKind'
          description: Semantic classification of the URI.
        label:
          type:
            - string
            - "null"
          description: Optional display text / label for the link.
        page:
          type:
            - integer
            - "null"
          format: int32
          description: Optional page number where the URI was found (1-indexed).
          minimum: 0
        url:
          type: string
          description: The URL or path string.
    ExtractionConfig:
      type: object
      description: Top-level extraction configuration — mirrors kreuzberg::ExtractionConfig.
      properties:
        cache_namespace:
          type:
            - string
            - "null"
          description: Cache namespace for tenant isolation
        cache_ttl_secs:
          type:
            - integer
            - "null"
          format: int64
          description: Per-request cache TTL override in seconds
          minimum: 0
        chunking:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ChunkingConfig'
              description: Text chunking configuration
        content_filter:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ContentFilterConfig'
              description: Content filtering (headers, footers, watermarks)
        disable_ocr:
          type:
            - boolean
            - "null"
          description: Disable OCR entirely
        enable_quality_processing:
          type:
            - boolean
            - "null"
          description: Enable quality post-processing
        extraction_timeout_secs:
          type:
            - integer
            - "null"
          format: int64
          description: Per-file extraction timeout in seconds
          minimum: 0
        force_ocr:
          type:
            - boolean
            - "null"
          description: Force OCR on all pages (bypass native text extraction)
        force_ocr_pages:
          type:
            - array
            - "null"
          items:
            type: integer
            format: int32
            minimum: 0
          description: Force OCR on specific pages (1-indexed)
        html_options:
          description: HTML extraction options (flexible JSON)
        images:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ImageExtractionConfig'
              description: Image extraction configuration
        include_document_structure:
          type:
            - boolean
            - "null"
          description: Include structured document tree in output
        keywords:
          description: Keyword extraction configuration (flexible JSON)
        language_detection:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/LanguageDetectionConfig'
              description: Language detection configuration
        layout:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/LayoutDetectionConfig'
              description: Layout detection configuration
        max_archive_depth:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum recursion depth for archive extraction
          minimum: 0
        max_concurrent_extractions:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum concurrent extractions
          minimum: 0
        ocr:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OcrConfig'
              description: OCR configuration
        output_format:
          type:
            - string
            - "null"
          description: 'Output text format: "plain", "markdown", "html", "djot", "structured", "json"'
        pages:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PageConfig'
              description: Page extraction configuration
        pdf_options:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PdfConfig'
              description: PDF-specific options
        postprocessor:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PostProcessorConfig'
              description: Post-processor configuration
        result_format:
          type:
            - string
            - "null"
          description: 'Result format: "unified" or "element_based"'
        security_limits:
          description: Security limits (flexible JSON)
        token_reduction:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/TokenReductionConfig'
              description: Token reduction configuration
        use_cache:
          type:
            - boolean
            - "null"
          description: Enable extraction result caching
    ExtractionMethod:
      type: string
      description: How the extracted text was produced.
      enum:
        - native
        - ocr
        - mixed
    ExtractionOptions:
      type: object
      description: Extraction options (shared by JSON and multipart requests)
      properties:
        extraction_config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionConfig'
              description: Kreuzberg extraction configuration (optional, null = defaults).
    ExtractionResult:
      type: object
      description: |-
        General extraction result used by the core extraction API.

        This is the main result type returned by all extraction functions.
      required:
        - content
        - mime_type
        - metadata
        - tables
      properties:
        annotations:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/PdfAnnotation'
          description: |-
            PDF annotations extracted from the document.

            When annotation extraction is enabled via `PdfConfig::extract_annotations`,
            this field contains text notes, highlights, links, stamps, and other
            annotations found in PDF documents.
        children:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/ArchiveEntry'
          description: |-
            Nested extraction results from archive contents.

            When extracting archives, each processable file inside produces its own
            full extraction result. Set to `None` for non-archive formats.
            Use `max_archive_depth` in config to control recursion depth.
        chunks:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/Chunk'
          description: |-
            Text chunks when chunking is enabled.

            When chunking configuration is provided, the content is split into
            overlapping chunks for efficient processing. Each chunk contains the text,
            optional embeddings (if enabled), and metadata about its position.
        content:
          type: string
        detected_languages:
          type:
            - array
            - "null"
          items:
            type: string
        djot_content:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/DjotContent'
              description: |-
                Rich Djot content structure (when extracting Djot documents).

                When extracting Djot documents with structured extraction enabled,
                this field contains the full semantic structure including:
                - Block-level elements with nesting
                - Inline formatting with attributes
                - Links, images, footnotes
                - Math expressions
                - Complete attribute information

                The `content` field still contains plain text for backward compatibility.

                Always `None` for non-Djot documents.
        document:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/DocumentStructure'
              description: |-
                Structured document tree (when document structure extraction is enabled).

                When `include_document_structure` is true in `ExtractionConfig`, this field
                contains the full hierarchical representation of the document including:
                - Heading-driven section nesting
                - Table grids with cell-level metadata
                - Content layer classification (body, header, footer, footnote)
                - Inline text annotations (formatting, links)
                - Bounding boxes and page numbers

                Independent of `result_format` — can be combined with Unified or ElementBased.
        elements:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/Element'
          description: |-
            Semantic elements when element-based result format is enabled.

            When result_format is set to ElementBased, this field contains semantic
            elements with type classification, unique identifiers, and metadata for
            Unstructured-compatible element-based processing.
        extracted_keywords:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/Keyword'
          description: |-
            Extracted keywords when keyword extraction is enabled.

            When keyword extraction (RAKE or YAKE) is configured, this field contains
            the extracted keywords with scores, algorithm info, and position data.
            Previously stored in `metadata.additional["keywords"]`.
        extraction_method:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionMethod'
              description: |-
                Extraction strategy used to produce the returned text.

                Populated when the extractor can reliably distinguish native text extraction,
                OCR-only extraction, or mixed native/OCR output.
        images:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/ExtractedImage'
          description: |-
            Extracted images from the document.

            When image extraction is enabled via `ImageExtractionConfig`, this field
            contains all images found in the document with their raw data and metadata.
            Each image may optionally contain a nested `ocr_result` if OCR was performed.
        llm_usage:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/LlmUsage'
          description: |-
            LLM token usage and cost data for all LLM calls made during this extraction.

            Contains one entry per LLM call. Multiple entries are produced when
            VLM OCR, structured extraction, or LLM embeddings run during
            the same extraction.

            `None` when no LLM was used.
        metadata:
          $ref: '#/components/schemas/Metadata'
        mime_type:
          type: string
        ocr_elements:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/OcrElement'
          description: |-
            OCR elements with full spatial and confidence metadata.

            When OCR is performed with element extraction enabled, this field contains
            the structured representation of detected text including:
            - Bounding geometry (rectangles or quadrilaterals)
            - Confidence scores (detection and recognition)
            - Rotation information
            - Hierarchical relationships (Tesseract only)

            This field preserves all metadata that would otherwise be lost when
            converting to plain text or markdown output formats.

            Only populated when `OcrElementConfig.include_elements` is true.
        pages:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/PageContent'
          description: |-
            Per-page content when page extraction is enabled.

            When page extraction is configured, the document is split into per-page content
            with tables and images mapped to their respective pages.
        processing_warnings:
          type: array
          items:
            $ref: '#/components/schemas/ProcessingWarning'
          description: |-
            Non-fatal warnings collected during processing pipeline stages.

            Captures errors from optional pipeline features (embedding, chunking,
            language detection, output formatting) that don't prevent extraction
            but may indicate degraded results.
            Previously stored as individual keys in `metadata.additional`.
        quality_score:
          type:
            - number
            - "null"
          format: double
          description: |-
            Document quality score from quality analysis.

            A value between 0.0 and 1.0 indicating the overall text quality.
            Previously stored in `metadata.additional["quality_score"]`.
        revisions:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/DocumentRevision'
          description: |-
            Tracked changes embedded in the source document.

            Populated by per-format extractors that understand change-tracking
            metadata (DOCX `w:ins`/`w:del`/`w:rPrChange`, ODT `text:change-*`,
            …). Every extractor defaults to `None` until its format-specific
            implementation is added. Extractors that do populate this field follow
            the "accepted-changes" convention: inserted text is present in
            `content`, deleted text is absent — the revision list is the separate
            audit trail.
        structured_output:
          description: |-
            Structured extraction output from LLM-based JSON schema extraction.

            When `structured_extraction` is configured in `ExtractionConfig`, the
            extracted document content is sent to a VLM with the provided JSON schema.
            The response is parsed and stored here as a JSON value matching the schema.
        tables:
          type: array
          items:
            $ref: '#/components/schemas/Table'
        uris:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/ExtractedUri'
          description: |-
            URIs/links discovered during document extraction.

            Contains hyperlinks, image references, citations, email addresses, and
            other URI-like references found in the document. Always extracted when
            present in the source document.
    FileExtractionConfig:
      type: object
      description: |-
        Per-file extraction config override for batch/presign requests.

        All fields are optional — only provided fields override the batch-level config.
      properties:
        chunking:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ChunkingConfig'
        content_filter:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ContentFilterConfig'
        disable_ocr:
          type:
            - boolean
            - "null"
        enable_quality_processing:
          type:
            - boolean
            - "null"
        extraction_timeout_secs:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        force_ocr:
          type:
            - boolean
            - "null"
        force_ocr_pages:
          type:
            - array
            - "null"
          items:
            type: integer
            format: int32
            minimum: 0
        images:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ImageExtractionConfig'
        include_document_structure:
          type:
            - boolean
            - "null"
        language_detection:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/LanguageDetectionConfig'
        ocr:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OcrConfig'
        output_format:
          type:
            - string
            - "null"
        pages:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PageConfig'
        postprocessor:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PostProcessorConfig'
        result_format:
          type:
            - string
            - "null"
        token_reduction:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/TokenReductionConfig'
    Footnote:
      type: object
      description: Footnote in Djot.
      required:
        - label
        - content
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/FormattedBlock'
          description: Footnote content blocks
        label:
          type: string
          description: Footnote label
    FormatMetadata:
      oneOf:
        - $ref: '#/components/schemas/ExcelMetadata'
        - $ref: '#/components/schemas/EmailMetadata'
        - $ref: '#/components/schemas/PptxMetadata'
        - $ref: '#/components/schemas/ArchiveMetadata'
        - $ref: '#/components/schemas/ImageMetadata'
        - $ref: '#/components/schemas/XmlMetadata'
        - $ref: '#/components/schemas/TextMetadata'
        - $ref: '#/components/schemas/HtmlMetadata'
        - $ref: '#/components/schemas/OcrMetadata'
        - $ref: '#/components/schemas/CsvMetadata'
        - $ref: '#/components/schemas/PstMetadata'
      description: Format-specific metadata (discriminated union). Only one format type can exist per extraction result.
      discriminator:
        propertyName: format_type
        mapping:
          archive: '#/components/schemas/ArchiveMetadata'
          csv: '#/components/schemas/CsvMetadata'
          email: '#/components/schemas/EmailMetadata'
          excel: '#/components/schemas/ExcelMetadata'
          html: '#/components/schemas/HtmlMetadata'
          image: '#/components/schemas/ImageMetadata'
          ocr: '#/components/schemas/OcrMetadata'
          pptx: '#/components/schemas/PptxMetadata'
          pst: '#/components/schemas/PstMetadata'
          text: '#/components/schemas/TextMetadata'
          xml: '#/components/schemas/XmlMetadata'
    FormattedBlock:
      type: object
      description: |-
        Block-level element in a Djot document.

        Represents structural elements like headings, paragraphs, lists, code blocks, etc.
      required:
        - block_type
        - inline_content
      properties:
        attributes:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/Attributes'
              description: Element attributes (classes, IDs, key-value pairs)
        block_type:
          $ref: '#/components/schemas/BlockType'
          description: Type of block element
        children:
          type: array
          items:
            $ref: '#/components/schemas/FormattedBlock'
          description: Nested blocks for containers (blockquotes, list items, divs)
        code:
          type:
            - string
            - "null"
          description: Raw code content for code blocks
        inline_content:
          type: array
          items:
            $ref: '#/components/schemas/InlineElement'
          description: Inline content within the block
        language:
          type:
            - string
            - "null"
          description: Language identifier for code blocks
        level:
          type:
            - integer
            - "null"
          description: Heading level (1-6) for headings, or nesting level for lists
          minimum: 0
    GridCell:
      type: object
      description: Individual grid cell with position and span metadata.
      required:
        - content
        - row
        - col
      properties:
        bbox:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BoundingBox'
              description: Bounding box for this cell (if available).
        col:
          type: integer
          format: int32
          description: Zero-indexed column position.
          minimum: 0
        col_span:
          type: integer
          format: int32
          description: Number of columns this cell spans.
          minimum: 0
        content:
          type: string
          description: Cell text content.
        is_header:
          type: boolean
          description: Whether this is a header cell.
        row:
          type: integer
          format: int32
          description: Zero-indexed row position.
          minimum: 0
        row_span:
          type: integer
          format: int32
          description: Number of rows this cell spans.
          minimum: 0
    HeaderMetadata:
      type: object
      description: Header/heading element metadata.
      required:
        - level
        - text
        - depth
        - html_offset
      properties:
        depth:
          type: integer
          format: int32
          description: Document tree depth at the header element
          minimum: 0
        html_offset:
          type: integer
          format: int32
          description: Byte offset in original HTML document
          minimum: 0
        id:
          type:
            - string
            - "null"
          description: HTML id attribute if present
        level:
          type: integer
          format: int32
          description: 'Header level: 1 (h1) through 6 (h6)'
          minimum: 0
        text:
          type: string
          description: Normalized text content of the header
    HeadingContext:
      type: object
      description: |-
        Heading context for a chunk within a Markdown document.

        Contains the heading hierarchy from document root to this chunk's section.
      required:
        - headings
      properties:
        headings:
          type: array
          items:
            $ref: '#/components/schemas/HeadingLevel'
          description: |-
            The heading hierarchy from document root to this chunk's section.
            Index 0 is the outermost (h1), last element is the most specific.
    HeadingLevel:
      type: object
      description: A single heading in the hierarchy.
      required:
        - level
        - text
      properties:
        level:
          type: integer
          format: int32
          description: Heading depth (1 = h1, 2 = h2, etc.)
          minimum: 0
        text:
          type: string
          description: The text content of the heading.
    HealthResponse:
      type: object
      description: Health check response for liveness probes
      required:
        - status
      properties:
        status:
          type: string
          description: Service status
          example: ok
    HierarchicalBlock:
      type: object
      description: |-
        A text block with hierarchy level assignment.

        Represents a block of text with semantic heading information extracted from
        font size clustering and hierarchical analysis.
      required:
        - text
        - font_size
        - level
      properties:
        bbox:
          type:
            - array
            - "null"
          items:
            type: number
            format: float
          description: |-
            Bounding box information for the block

            Contains coordinates as (left, top, right, bottom) in PDF units.
        font_size:
          type: number
          format: float
          description: The font size of the text in this block
        level:
          type: string
          description: |-
[...]
