openapi: 3.1.0
info:
  title: Kreuzberg Cloud API
  description: Cloud document extraction API powered by Kreuzberg. Supports asynchronous extraction with webhook delivery.
  contact:
    name: Kreuzberg Cloud
    url: https://docs.kreuzberg.cloud
    email: support@kreuzberg.cloud
  license:
    name: BUSL-1.1
  version: 1.0.0
servers:
  - url: https://api.kreuzberg.dev
    description: Production API
  - url: https://api.staging.kreuzberg.cloud
    description: Staging API
paths:
  /healthz:
    get:
      tags:
        - health
      summary: Check service liveness
      operationId: healthz
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ok
  /readyz:
    get:
      tags:
        - health
      summary: Check service readiness
      operationId: readyz
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
              example:
                checks:
                  database: ok
                  nats: ok
                status: ready
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
  /v1/extract:
    post:
      tags:
        - extract
      summary: '`POST /v1/extract` — Submit documents for extraction'
      description: |-
        Accepts `application/json` or `multipart/form-data`.

        **JSON body**: `{"documents": [...], "options": {...}, "webhook": {"url": "...", "secret": "...", "metadata": {...}}}`

        **Multipart**: file parts (binary) + `webhook` part (JSON string) + optional `options` part (JSON string)

        Returns 202 Accepted with job IDs. Results are delivered via the configured webhook.
      operationId: extract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractJsonRequest'
            examples:
              File extraction:
                summary: Extract from base64-encoded documents
                value:
                  documents:
                    - data: SGVsbG8gV29ybGQ=
                      filename: invoice.pdf
                      mime_type: application/pdf
                  options:
                    extraction_config:
                      ocr:
                        backend: tesseract
                        language: eng
                      output_format: markdown
                  webhook:
                    metadata:
                      request_id: abc123
                    secret: my-secret
                    url: https://example.com/webhook
              URL crawl extraction:
                summary: Crawl URLs and extract all discovered documents
                value:
                  crawl_config:
                    max_depth: 2
                    max_pages: 50
                    stay_on_domain: true
                  urls:
                    - url: https://example.com/docs
                  webhook:
                    secret: my-secret
                    url: https://example.com/webhook
        required: true
      responses:
        "202":
          description: Jobs accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
              example:
                crawl_job_ids:
                  - 660e9400-f39c-51e5-b827-557766551111
                job_ids:
                  - 550e8400-e29b-41d4-a716-446655440000
                status: pending
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
              example:
                error: At least one document or URL is required
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
              example:
                error: Missing project context
      security:
        - bearer_auth: []
  /v1/jobs/{id}:
    get:
      tags:
        - jobs
      summary: Get job status and results
      description: |-
        Accepts both extraction job IDs (returned in `job_ids`) and crawl job IDs
        (returned in `crawl_job_ids`) from `POST /v1/extract`. When the ID belongs
        to a crawl job, the response body follows the `CrawlJobResponse` schema
        instead of `JobResponse`.
      operationId: get_job
      parameters:
        - name: id
          in: path
          description: Job ID or crawl job ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        "200":
          description: Job retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobLookupResponse'
              example:
                created_at: "2025-12-21T10:00:00Z"
                filename: invoice.pdf
                id: 550e8400-e29b-41d4-a716-446655440000
                result:
                  content: 'Invoice total: $1,234.56'
                  images: []
                  metadata:
                    title: 'Invoice #12345'
                  mime_type: text/markdown
                  tables: []
                status: completed
        "400":
          description: Invalid job ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Invalid job ID format
        "401":
          description: Unauthorized - missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Missing project context
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Job not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Database connection failed
        "503":
          description: Service unavailable - dependency failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Database connection unavailable
      security:
        - bearer_auth: []
  /v1/sandbox/key:
    post:
      tags:
        - super::sandbox
      summary: Create sandbox API key
      description: |-
        Issues an ephemeral API key valid for 24 hours with a 50-page quota.
        Limited to 10 keys per IP per 24 hours to prevent abuse.

        # Returns
        - `200 OK` with `CreateSandboxKeyResponse` on success
        - `429 Too Many Requests` if IP has issued 10+ keys in past 24 hours
        - `500 Internal Server Error` on database errors
      operationId: create_sandbox_key
      responses:
        "200":
          description: Sandbox key created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSandboxKeyResponse'
              example:
                api_key: sk_sandbox_ABC123DEF456GHI789JKL012MNO345PQR678STU901VWX234
                expires_at: "2025-12-21T10:00:00Z"
                pages_remaining: 50
        "429":
          description: 'Rate limit exceeded: max 10 keys per IP per 24 hours'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxErrorResponse'
              example:
                error: rate_limited
                message: 'Rate limit exceeded: max 10 keys per IP per 24 hours'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxErrorResponse'
              example:
                error: internal_error
                message: Failed to create sandbox key
  /v1/uploads/confirm:
    post:
      tags:
        - uploads
      summary: Confirm uploads and start processing
      description: Verifies all files exist in storage, then dispatches jobs to the worker queue.
      operationId: confirm_upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmUploadRequest'
        required: true
      responses:
        "202":
          description: Uploads confirmed, processing started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmUploadResponse'
              example:
                job_ids:
                  - 550e8400-e29b-41d4-a716-446655440000
                  - 550e8400-e29b-41d4-a716-446655440001
                status: processing
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/uploads/presign:
    post:
      tags:
        - uploads
      summary: Generate presigned upload URLs
      description: |-
        Returns upload URLs for each document. The client uploads files directly
        to storage, then calls `/v1/uploads/confirm` to trigger processing.
      operationId: presign_upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignUploadRequest'
        required: true
      responses:
        "200":
          description: Presigned upload URLs generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignUploadResponse'
              example:
                batch_id: batch_550e8400-e29b-41d4-a716
                uploads:
                  - expires_in_secs: 3600
                    job_id: 550e8400-e29b-41d4-a716-446655440000
                    method: PUT
                    object_key: projects/abc123/uploads/550e8400-e29b-41d4-a716-446655440000
                    upload_url: https://storage.googleapis.com/kreuzberg-dev-uploads/...
                  - expires_in_secs: 3600
                    job_id: 550e8400-e29b-41d4-a716-446655440001
                    method: PUT
                    object_key: projects/abc123/uploads/550e8400-e29b-41d4-a716-446655440001
                    upload_url: https://storage.googleapis.com/kreuzberg-dev-uploads/...
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/usage:
    get:
      tags:
        - usage
      summary: Get usage statistics and quota
      operationId: get_usage
      parameters:
        - name: start
          in: query
          description: Start date (ISO 8601, e.g. "2026-03-01"). Defaults to first day of current month.
          required: false
          schema:
            type:
              - string
              - "null"
        - name: end
          in: query
          description: End date (ISO 8601, e.g. "2026-04-01"). Defaults to first day of next month.
          required: false
          schema:
            type:
              - string
              - "null"
      responses:
        "200":
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
              example:
                by_mime_type:
                  application/pdf:
                    documents: 65
                    failed: 1
                    pages: 3200
                  image/png:
                    documents: 15
                    failed: 0
                    pages: 1800
                  text/plain:
                    documents: 7
                    failed: 1
                    pages: 432
                period_end: "2026-06-01"
                period_start: "2026-05-01"
                quota_limit: 100000
                quota_remaining: 94568
                total_documents: 87
                total_failed: 2
                total_pages: 5432
        "400":
          description: Invalid date format
        "401":
          description: Unauthorized
      security:
        - bearer_auth: []
components:
  schemas:
    BoundingBox:
      type: object
      description: Bounding box coordinates.
      required:
        - x0
        - y0
        - x1
        - y1
      properties:
        x0:
          type: number
          format: double
        x1:
          type: number
          format: double
        y0:
          type: number
          format: double
        y1:
          type: number
          format: double
    BrowserOverrides:
      type: object
      description: |-
        Browser rendering overrides for a specific crawl request.
        Allows per-request override of browser backend, mode, and stealth settings.
      properties:
        backend:
          type:
            - string
            - "null"
          description: 'Browser backend: "native" (lightweight Rust-based) or "chromiumoxide" (Chrome-based)'
          example: native
        mode:
          type:
            - string
            - "null"
          description: 'Browser mode: "auto" (default, use browser if needed), "always" (always use), or "never" (never use)'
          example: auto
        stealth:
          type:
            - boolean
            - "null"
          description: Enable browser stealth mode (TLS fingerprint + UA spoof) — only honored by native backend
          example: false
    Chunk:
      type: object
      description: Text chunk with optional embedding.
      properties:
        content:
          type: string
          description: Chunk text content
        embedding:
          type: array
          items:
            type: number
            format: float
          description: Embedding vector (when embedding is enabled)
        metadata:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ChunkMetadata'
              description: Chunk position metadata
    ChunkMetadata:
      type: object
      description: Chunk position and size metadata.
      required:
        - byte_start
        - byte_end
        - chunk_index
        - total_chunks
      properties:
        byte_end:
          type: integer
          format: int64
          minimum: 0
        byte_start:
          type: integer
          format: int64
          minimum: 0
        chunk_index:
          type: integer
          format: int64
          minimum: 0
        first_page:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        last_page:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        token_count:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        total_chunks:
          type: integer
          format: int64
          minimum: 0
    ChunkingConfig:
      type: object
      description: Text chunking configuration.
      properties:
        chunker_type:
          type:
            - string
            - "null"
          description: 'Chunker type: "text", "markdown", "yaml"'
        embedding:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/EmbeddingConfig'
              description: Embedding generation configuration
        max_characters:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum chunk size in characters
          minimum: 0
        overlap:
          type:
            - integer
            - "null"
          format: int32
          description: Overlap between adjacent chunks in characters
          minimum: 0
        preset:
          type:
            - string
            - "null"
          description: Preset name (overrides other settings)
        trim:
          type:
            - boolean
            - "null"
          description: Trim whitespace from chunk boundaries
    ConfirmUploadRequest:
      type: object
      description: Request body for confirming uploads
      required:
        - batch_id
      properties:
        batch_id:
          type: string
          description: Batch ID from the presign response
    ConfirmUploadResponse:
      type: object
      description: Response from confirm endpoint
      required:
        - job_ids
        - status
      properties:
        job_ids:
          type: array
          items:
            type: string
          description: Job IDs that are now queued for processing
        status:
          type: string
          description: Status of the jobs
    ContentFilterConfig:
      type: object
      description: Content filtering configuration (headers, footers, watermarks).
      properties:
        include_footers:
          type: boolean
          description: Include running footers
        include_headers:
          type: boolean
          description: Include running headers
        include_watermarks:
          type: boolean
          description: Include watermarks
        strip_repeating_text:
          type: boolean
          description: Strip cross-page repeating text
    CrawlChildJob:
      type: object
      description: A child extraction job spawned by a crawl job.
      required:
        - id
        - filename
        - status
      properties:
        filename:
          type: string
          description: Filename
          example: guide.pdf
        id:
          type: string
          format: uuid
          description: Job ID (queryable via GET /v1/jobs/{id})
          example: 550e8400-e29b-41d4-a716-446655440000
        processing_time_ms:
          type:
            - integer
            - "null"
          format: int64
          description: Processing time in ms (when completed)
          example: 1234
        result:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionResult'
              description: Extraction result (when completed)
        source_url:
          type:
            - string
            - "null"
          description: Source URL where this document was found
          example: https://example.com/docs/guide.pdf
        status:
          type: string
          description: Job status
          example: completed
      example:
        filename: guide.pdf
        id: 550e8400-e29b-41d4-a716-446655440000
        processing_time_ms: 1234
        source_url: https://example.com/docs/guide.pdf
        status: completed
    CrawlConfig:
      type: object
      description: Crawl policy configuration — controls URL crawling behavior.
      properties:
        allow_subdomains:
          type:
            - boolean
            - "null"
          description: 'Allow subdomains of the seed domain (default: true)'
          example: true
        allowed_file_types:
          type: array
          items:
            type: string
          description: 'MIME types of documents to extract (default: all supported by kreuzberg)'
          example:
            - application/pdf
            - text/html
        browser:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BrowserOverrides'
              description: Browser rendering configuration overrides for this request
        document_url_depth:
          type:
            - integer
            - "null"
          format: int32
          description: 'Max depth for URL-following from documents (default: 1, max: 3)'
          example: 1
          maximum: 3
          minimum: 0
        exclude_paths:
          type: array
          items:
            type: string
          description: Regex patterns — skip URLs matching these
          example:
            - /admin/.*
            - /login
        extract_page_content:
          type:
            - boolean
            - "null"
          description: 'Also extract the HTML page content as markdown (default: false)'
          example: false
        follow_document_urls:
          type:
            - boolean
            - "null"
          description: 'Follow URLs discovered inside extracted documents (default: false)'
          example: false
        include_paths:
          type: array
          items:
            type: string
          description: Regex patterns — only crawl URLs matching these
          example:
            - /docs/.*
            - /blog/.*
        max_concurrent:
          type:
            - integer
            - "null"
          format: int32
          description: 'Maximum concurrent requests (default: 10)'
          example: 10
          minimum: 0
        max_depth:
          type:
            - integer
            - "null"
          format: int32
          description: 'Maximum crawl depth from seed URL (default: 2, max: 5)'
          example: 2
          maximum: 5
          minimum: 0
        max_pages:
          type:
            - integer
            - "null"
          format: int32
          description: 'Maximum pages to crawl (default: 100, max: 10000)'
          example: 100
          maximum: 10000
          minimum: 0
        output_mode:
          type:
            - string
            - "null"
          description: |-
            Output mode (default: "extract").
            - "scrape":  single-page fetch, no recursion, no extraction
            - "crawl":   multi-page crawl, no extraction (raw content returned)
            - "extract": multi-page crawl + extract each discovered document
          example: extract
        request_timeout_secs:
          type:
            - integer
            - "null"
          format: int64
          description: 'Per-request timeout in seconds (default: 30)'
          example: 30
          minimum: 0
        respect_robots_txt:
          type:
            - boolean
            - "null"
          description: 'Respect robots.txt (default: true)'
          example: true
        stay_on_domain:
          type:
            - boolean
            - "null"
          description: 'Stay on the same domain as seed URL (default: true)'
          example: true
        strategy:
          type:
            - string
            - "null"
          description: 'Crawl strategy: "bfs" (default), "dfs", "best_first", "adaptive"'
          example: bfs
        user_agent:
          type:
            - string
            - "null"
          description: Custom User-Agent string
          example: KreuzbergBot/1.0
      example:
        allow_subdomains: true
        max_concurrent: 10
        max_depth: 2
        max_pages: 100
        respect_robots_txt: true
        stay_on_domain: true
    CrawlJobResponse:
      type: object
      description: Response for crawl job status query
      required:
        - id
        - status
        - seed_urls
        - output_mode
        - created_at
        - progress
      properties:
        created_at:
          type: string
          format: date-time
          description: Creation timestamp (RFC3339)
          example: "2025-12-21T10:00:00Z"
        id:
          type: string
          format: uuid
          description: Crawl job ID
          example: 660e9400-f39c-51e5-b827-557766551111
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/CrawlChildJob'
          description: Child extraction jobs (populated when output_mode=extract)
        output_mode:
          type: string
          description: Output mode this job was submitted with (scrape, crawl, or extract)
          example: extract
        pages:
          type: array
          items:
            $ref: '#/components/schemas/CrawledPage'
          description: Crawled raw pages (populated when output_mode=scrape|crawl)
        progress:
          $ref: '#/components/schemas/CrawlProgress'
          description: Crawl progress counters
        seed_urls:
          type: array
          items:
            type: string
          description: Seed URLs that were submitted
          example:
            - https://example.com/docs
        status:
          $ref: '#/components/schemas/CrawlJobStatus'
          description: Crawl job status
      example:
        created_at: "2025-12-21T10:00:00Z"
        id: 660e9400-f39c-51e5-b827-557766551111
        jobs: []
        progress:
          documents_discovered: 15
          documents_extracted: 10
          documents_failed: 0
          pages_crawled: 42
        seed_urls:
          - https://example.com/docs
        status: extracting
    CrawlJobStatus:
      type: string
      description: Crawl job status
      enum:
        - pending
        - crawling
        - extracting
        - completed
        - partial_success
        - failed
        - cancelled
    CrawlProgress:
      type: object
      description: Crawl progress counters
      required:
        - pages_crawled
        - documents_discovered
        - documents_extracted
        - documents_failed
      properties:
        documents_discovered:
          type: integer
          format: int32
        documents_extracted:
          type: integer
          format: int32
        documents_failed:
          type: integer
          format: int32
        pages_crawled:
          type: integer
          format: int32
    CrawledPage:
      type: object
      description: A raw crawled page persisted for output_mode=scrape|crawl.
      required:
        - url
        - status
        - fetched_at
      properties:
        content_url:
          type:
            - string
            - "null"
          description: Presigned URL for downloading the raw content
        error:
          type:
            - string
            - "null"
          description: Error message (when status=failed)
        fetched_at:
          type: string
          format: date-time
          description: Fetch timestamp (RFC3339)
          example: "2025-12-21T10:00:00Z"
        mime_type:
          type:
            - string
            - "null"
          description: MIME type
          example: text/html
        size_bytes:
          type:
            - integer
            - "null"
          format: int64
          description: Size in bytes
          example: 12345
        status:
          type: string
          description: 'Fetch status: "completed" | "failed"'
          example: completed
        url:
          type: string
          description: Source URL
          example: https://example.com/docs/index.html
      example:
        fetched_at: "2025-12-21T10:00:00Z"
        mime_type: text/html
        size_bytes: 12345
        status: completed
        url: https://example.com/docs/index.html
    CreateSandboxKeyRequest:
      type: object
      description: Sandbox key creation request (body not used, but for API clarity)
    CreateSandboxKeyResponse:
      type: object
      description: Sandbox key response
      required:
        - api_key
        - expires_at
        - pages_remaining
      properties:
        api_key:
          type: string
          description: 'The sandbox API key (use in Authorization: Bearer header)'
          example: sk_sandbox_ABC123DEF456GHI789JKL012MNO345PQR678STU901VWX234
        expires_at:
          type: string
          format: date-time
          description: When the key expires (RFC3339 format)
          example: "2025-12-21T10:00:00Z"
        pages_remaining:
          type: integer
          format: int32
          description: Page extraction quota for this key
          example: 50
    DocumentInput:
      type: object
      description: Document input for JSON extraction requests
      required:
        - filename
        - mime_type
        - data
      properties:
        data:
          type: string
          description: Base64-encoded document data
        filename:
          type: string
          description: Original filename
        mime_type:
          type: string
          description: MIME type of the document
    EmbeddingConfig:
      type: object
      description: Embedding generation configuration for chunks.
      properties:
        batch_size:
          type:
            - integer
            - "null"
          format: int32
          description: Batch size for embedding generation
          minimum: 0
        model:
          description: 'Model configuration (flexible JSON: {"type":"preset","name":"balanced"})'
        normalize:
          type:
            - boolean
            - "null"
          description: Normalize embedding vectors
        show_download_progress:
          type:
            - boolean
            - "null"
          description: Show model download progress
    ErrorResponse:
      type: object
      description: Error response
      required:
        - error
      properties:
        error:
          type: string
          description: Error message
          example: Invalid job ID format
    ExtractJsonRequest:
      type: object
      description: JSON body for `POST /v1/extract`
      properties:
        crawl_config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/CrawlConfig'
              description: Crawl configuration (applies to all URLs, can be overridden per-URL)
        documents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentInput'
          description: Documents to process
        options:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionOptions'
              description: Extraction options (optional)
        urls:
          type: array
          items:
            $ref: '#/components/schemas/UrlInput'
          description: URLs to crawl and extract documents from
        webhook:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/WebhookConfig'
              description: Webhook configuration for async result delivery (optional)
    ExtractResponse:
      type: object
      description: Extract response (HTTP 202)
      required:
        - status
      properties:
        crawl_job_ids:
          type: array
          items:
            type: string
          description: Crawl job IDs (one per URL group)
        job_ids:
          type: array
          items:
            type: string
          description: Job IDs for direct file extractions
        status:
          type: string
          description: Job status
    ExtractedImage:
      type: object
      description: Extracted image with base64-encoded data.
      properties:
        bounding_box:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BoundingBox'
              description: Bounding box on the page
        data:
          type: string
          description: Base64-encoded image data
        description:
          type:
            - string
            - "null"
          description: Image description
        format:
          type: string
          description: Image format (e.g., "PNG", "JPEG")
        height:
          type:
            - integer
            - "null"
          format: int32
          description: Image height in pixels
          minimum: 0
        image_index:
          type: integer
          format: int64
          description: Image index within the document
          minimum: 0
        page_number:
          type:
            - integer
            - "null"
          format: int32
          description: Page number the image was found on
          minimum: 0
        width:
          type:
            - integer
            - "null"
          format: int32
          description: Image width in pixels
          minimum: 0
    ExtractionConfig:
      type: object
      description: Top-level extraction configuration — mirrors kreuzberg::ExtractionConfig.
      properties:
        cache_namespace:
          type:
            - string
            - "null"
          description: Cache namespace for tenant isolation
        cache_ttl_secs:
          type:
            - integer
            - "null"
          format: int64
          description: Per-request cache TTL override in seconds
          minimum: 0
        chunking:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ChunkingConfig'
              description: Text chunking configuration
        content_filter:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ContentFilterConfig'
              description: Content filtering (headers, footers, watermarks)
        disable_ocr:
          type:
            - boolean
            - "null"
          description: Disable OCR entirely
        enable_quality_processing:
          type:
            - boolean
            - "null"
          description: Enable quality post-processing
        extraction_timeout_secs:
          type:
            - integer
            - "null"
          format: int64
          description: Per-file extraction timeout in seconds
          minimum: 0
        force_ocr:
          type:
            - boolean
            - "null"
          description: Force OCR on all pages (bypass native text extraction)
        force_ocr_pages:
          type:
            - array
            - "null"
          items:
            type: integer
            format: int32
            minimum: 0
          description: Force OCR on specific pages (1-indexed)
        html_options:
          description: HTML extraction options (flexible JSON)
        images:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ImageExtractionConfig'
              description: Image extraction configuration
        include_document_structure:
          type:
            - boolean
            - "null"
          description: Include structured document tree in output
        keywords:
          description: Keyword extraction configuration (flexible JSON)
        language_detection:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/LanguageDetectionConfig'
              description: Language detection configuration
        layout:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/LayoutDetectionConfig'
              description: Layout detection configuration
        max_archive_depth:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum recursion depth for archive extraction
          minimum: 0
        max_concurrent_extractions:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum concurrent extractions
          minimum: 0
        ocr:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OcrConfig'
              description: OCR configuration
        output_format:
          type:
            - string
            - "null"
          description: 'Output text format: "plain", "markdown", "html", "djot", "structured", "json"'
        pages:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PageConfig'
              description: Page extraction configuration
        pdf_options:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PdfConfig'
              description: PDF-specific options
        postprocessor:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PostProcessorConfig'
              description: Post-processor configuration
        result_format:
          type:
            - string
            - "null"
          description: 'Result format: "unified" or "element_based"'
        security_limits:
          description: Security limits (flexible JSON)
        token_reduction:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/TokenReductionConfig'
              description: Token reduction configuration
        use_cache:
          type:
            - boolean
            - "null"
          description: Enable extraction result caching
    ExtractionOptions:
      type: object
      description: Extraction options (shared by JSON and multipart requests)
      properties:
        extraction_config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionConfig'
              description: Kreuzberg extraction configuration (optional, null = defaults).
    ExtractionResult:
      type: object
      description: Extraction result — aligned with kreuzberg::ExtractionResult.
      properties:
        chunks:
          type: array
          items:
            $ref: '#/components/schemas/Chunk'
          description: Text chunks (when chunking is enabled)
        content:
          type: string
          description: Full extracted text content
        detected_languages:
          type: array
          items:
            type: string
          description: Detected document languages
        images:
          type: array
          items:
            $ref: '#/components/schemas/ExtractedImage'
          description: Extracted images (base64 encoded)
        llm_usage:
          type: array
          items:
            $ref: '#/components/schemas/LlmUsage'
          description: LLM token usage and cost data (populated when VLM OCR or LLM extraction is used)
        metadata:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/Metadata'
              description: Document metadata
        mime_type:
          type: string
          description: Content MIME type (e.g., "text/plain", "text/markdown")
        pages:
          type: array
          items:
            $ref: '#/components/schemas/PageContent'
          description: Per-page content (when page extraction is enabled)
        processing_warnings:
          type: array
          items:
            $ref: '#/components/schemas/ProcessingWarning'
          description: Non-fatal processing warnings
        quality_score:
          type:
            - number
            - "null"
          format: double
          description: Document quality score (0.0-1.0)
        tables:
          type: array
          items:
            $ref: '#/components/schemas/Table'
          description: Extracted tables
    FileExtractionConfig:
      type: object
      description: |-
        Per-file extraction config override for batch/presign requests.

        All fields are optional — only provided fields override the batch-level config.
      properties:
        chunking:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ChunkingConfig'
        content_filter:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ContentFilterConfig'
        disable_ocr:
          type:
            - boolean
            - "null"
        enable_quality_processing:
          type:
            - boolean
            - "null"
        extraction_timeout_secs:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        force_ocr:
          type:
            - boolean
            - "null"
        force_ocr_pages:
          type:
            - array
            - "null"
          items:
            type: integer
            format: int32
            minimum: 0
        images:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ImageExtractionConfig'
        include_document_structure:
          type:
            - boolean
            - "null"
        language_detection:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/LanguageDetectionConfig'
        ocr:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OcrConfig'
        output_format:
          type:
            - string
            - "null"
        pages:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PageConfig'
        postprocessor:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PostProcessorConfig'
        result_format:
          type:
            - string
            - "null"
        token_reduction:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/TokenReductionConfig'
    HealthResponse:
      type: object
      description: Health check response for liveness probes
      required:
        - status
      properties:
        status:
          type: string
          description: Service status
          example: ok
    HierarchyConfig:
      type: object
      description: Heading hierarchy detection configuration.
      properties:
        enabled:
          type: boolean
          description: Enable hierarchy detection
        include_bbox:
          type: boolean
          description: Include bounding boxes
        k_clusters:
          type:
            - integer
            - "null"
          format: int32
          description: Number of font-size clusters for heading levels
          minimum: 0
        ocr_coverage_threshold:
          type:
            - number
            - "null"
          format: float
          description: OCR coverage threshold
    ImageExtractionConfig:
      type: object
      description: Image extraction and processing configuration.
      properties:
        auto_adjust_dpi:
          type:
            - boolean
            - "null"
          description: Auto-adjust DPI based on content
        extract_images:
          type:
            - boolean
            - "null"
          description: Extract images from documents
        inject_placeholders:
          type:
            - boolean
            - "null"
          description: Inject image reference placeholders in markdown output
        max_dpi:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum DPI threshold
        max_image_dimension:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum image dimension (width or height)
        min_dpi:
          type:
            - integer
            - "null"
          format: int32
          description: Minimum DPI threshold
        target_dpi:
          type:
            - integer
            - "null"
          format: int32
          description: Target DPI for image normalization
    JobLookupResponse:
      oneOf:
        - $ref: '#/components/schemas/JobResponse'
          description: Extraction job details.
        - $ref: '#/components/schemas/CrawlJobResponse'
          description: Crawl job details.
      description: Response for either an extraction job or a crawl job.
    JobResponse:
      type: object
      description: Response for job status query
      required:
        - id
        - filename
        - status
        - created_at
      properties:
        created_at:
          type: string
          format: date-time
          description: Job creation timestamp (RFC3339)
          example: "2025-12-21T10:00:00Z"
        filename:
          type: string
          description: Original filename
          example: invoice.pdf
        id:
          type: string
          format: uuid
          description: Unique job identifier (UUID)
          example: 550e8400-e29b-41d4-a716-446655440000
        processing_time_ms:
          type:
            - integer
            - "null"
          format: int64
          description: Server-side processing duration in milliseconds (only present when completed)
          example: 1234
        result:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionResult'
              description: Extraction result (only present when status is completed/partial_success)
        status:
          $ref: '#/components/schemas/JobStatus'
          description: Job status
    JobStatus:
      type: string
      description: Job status enumeration (1:1 with domain).
      enum:
        - awaiting_upload
        - pending
        - processing
        - chunking
        - aggregating
        - completed
        - partial_success
        - failed
        - cancelled
    LanguageDetectionConfig:
      type: object
      description: Language detection configuration.
      properties:
        detect_multiple:
          type:
            - boolean
            - "null"
          description: Detect multiple languages in document
        enabled:
          type:
            - boolean
            - "null"
          description: Enable language detection
        min_confidence:
          type:
            - number
            - "null"
          format: double
          description: Minimum confidence threshold (0.0-1.0)
    LayoutDetectionConfig:
      type: object
      description: Document layout detection configuration.
      properties:
        apply_heuristics:
          type:
            - boolean
            - "null"
          description: Apply postprocessing heuristics
        confidence_threshold:
          type:
            - number
            - "null"
          format: float
          description: Confidence threshold override
        preset:
          type:
            - string
            - "null"
          description: 'Preset: "fast" or "accurate"'
    LlmUsage:
      type: object
      description: LLM token usage and cost data for a single LLM call during extraction.
      properties:
        estimated_cost:
          type:
            - number
            - "null"
          format: double
          description: Estimated cost in USD
        finish_reason:
          type:
            - string
            - "null"
          description: LLM finish reason (e.g., "stop", "length")
        input_tokens:
          type:
            - integer
            - "null"
          format: int64
          description: Input/prompt token count
          minimum: 0
        model:
          type: string
          description: Model identifier (e.g., "gemini/gemini-2.0-flash", "openai/gpt-4o")
        output_tokens:
          type:
            - integer
            - "null"
          format: int64
          description: Output/completion token count
          minimum: 0
        source:
          type: string
          description: Usage source (e.g., "vlm_ocr", "structured_extraction", "embeddings")
        total_tokens:
          type:
            - integer
            - "null"
          format: int64
          description: Total token count
          minimum: 0
      example:
        estimated_cost: 0.0023
        finish_reason: stop
        input_tokens: 1500
        model: gemini/gemini-2.0-flash
        output_tokens: 800
        source: vlm_ocr
        total_tokens: 2300
    Metadata:
      type: object
      description: Document metadata — aligned with kreuzberg::Metadata.
      properties:
        abstract_text:
          type:
            - string
            - "null"
        additional:
          type: object
          additionalProperties: {}
          propertyNames:
            type: string
        authors:
          type: array
          items:
            type: string
        category:
          type:
            - string
            - "null"
        created_at:
          type:
            - string
            - "null"
        created_by:
          type:
            - string
            - "null"
        document_version:
          type:
            - string
            - "null"
        extraction_duration_ms:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        keywords:
          type: array
          items:
            type: string
        language:
          type:
            - string
            - "null"
        modified_at:
          type:
            - string
            - "null"
        modified_by:
          type:
            - string
            - "null"
        output_format:
          type:
            - string
            - "null"
        pages:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/PageStructure'
        subject:
          type:
            - string
            - "null"
        tags:
          type: array
          items:
            type: string
        title:
          type:
            - string
            - "null"
    OcrConfig:
      type: object
      description: OCR backend and language configuration.
      properties:
        auto_rotate:
          type:
            - boolean
            - "null"
          description: Automatic page rotation detection
        backend:
          type:
            - string
            - "null"
          description: 'OCR backend: "tesseract", "easyocr", or "vlm"'
        element_config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OcrElementConfig'
              description: Structured OCR element extraction
        language:
          type:
            - string
            - "null"
          description: Language code (e.g., "eng", "deu", "fra")
        output_format:
          type:
            - string
            - "null"
          description: OCR output format override
        pipeline:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OcrPipelineConfig'
              description: Multi-backend OCR pipeline with quality-based fallback
        quality_thresholds:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OcrQualityThresholds'
              description: Quality thresholds for OCR fallback decisions
        tesseract_config:
          description: Tesseract-specific configuration (flexible JSON with 20+ fields)
        vlm_config:
          description: VLM (Vision Language Model) configuration
        vlm_prompt:
          type:
            - string
            - "null"
          description: Custom Jinja2 prompt template for VLM OCR
    OcrElementConfig:
      type: object
      description: Structured OCR element extraction configuration.
      properties:
        build_hierarchy:
          type: boolean
          description: Build parent-child relationships
        include_elements:
          type: boolean
          description: Include OCR elements in result
        min_confidence:
          type:
            - number
            - "null"
          format: double
          description: Minimum recognition confidence (0.0-1.0)
        min_level:
          type:
            - string
            - "null"
          description: 'Minimum hierarchical level: "word", "line", "block", "page"'
    OcrPipelineConfig:
      type: object
      description: Multi-backend OCR pipeline with quality-based fallback.
      properties:
        quality_thresholds:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OcrQualityThresholds'
              description: Quality evaluation thresholds for fallback decisions
        stages:
          type: array
          items:
            $ref: '#/components/schemas/OcrPipelineStage'
          description: Ordered list of backends to try (sorted by priority descending)
    OcrPipelineStage:
      type: object
      description: Single backend stage in the OCR pipeline.
      required:
        - backend
      properties:
        backend:
          type: string
          description: 'Backend name: "tesseract", "easyocr", or custom'
        language:
          type:
            - string
            - "null"
          description: Language override for this stage
        priority:
          type: integer
          format: int32
          description: Priority (higher = tried first, default 100)
          minimum: 0
        tesseract_config:
          description: Tesseract config override for this stage
        vlm_config:
          description: VLM config override for this stage
    OcrQualityThresholds:
      type: object
      description: Quality thresholds for OCR fallback decisions.
      properties:
        alnum_ws_ratio_threshold:
          type:
            - number
            - "null"
          format: double
        critical_fragmented_word_ratio:
          type:
            - number
            - "null"
          format: double
        max_fragmented_word_ratio:
          type:
            - number
            - "null"
          format: double
        min_alnum_ratio:
          type:
            - number
            - "null"
          format: double
        min_avg_word_length:
          type:
            - number
            - "null"
          format: double
        min_consecutive_repeat_ratio:
          type:
            - number
            - "null"
          format: double
        min_garbage_chars:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        min_meaningful_word_len:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        min_meaningful_words:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        min_non_whitespace_per_page:
          type:
            - number
            - "null"
          format: double
        min_total_non_whitespace:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        min_words_for_avg_length_check:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        min_words_for_repeat_check:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        non_text_min_chars:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
        pipeline_min_quality:
          type:
            - number
            - "null"
          format: double
        substantive_min_chars:
          type:
            - integer
            - "null"
          format: int64
          minimum: 0
    PageConfig:
      type: object
      description: Page extraction configuration.
      properties:
        extract_pages:
          type: boolean
          description: Extract pages as separate array in result
        insert_page_markers:
          type: boolean
          description: Insert page markers in content text
        marker_format:
          type:
            - string
            - "null"
          description: Page marker format template (e.g., "\n\n<!-- PAGE {page_num} -->\n\n")
    PageContent:
      type: object
      description: Per-page content.
      required:
        - page_number
      properties:
        content:
          type: string
          description: Extracted text for this page
        is_blank:
          type:
            - boolean
            - "null"
          description: Whether the page is blank
        page_number:
          type: integer
          format: int32
          description: Page number (0-indexed)
          minimum: 0
    PageStructure:
      type: object
      description: Page structure metadata.
      required:
        - total_count
      properties:
        total_count:
          type: integer
          format: int32
          minimum: 0
    PdfConfig:
      type: object
      description: PDF-specific extraction options.
      properties:
        bottom_margin_fraction:
          type:
            - number
            - "null"
          format: float
          description: Bottom margin fraction to skip (0.0-1.0)
        extract_annotations:
          type:
            - boolean
            - "null"
          description: Extract PDF annotations
        extract_images:
          type:
            - boolean
            - "null"
          description: Extract images from PDF
        extract_metadata:
          type:
            - boolean
            - "null"
          description: Extract PDF metadata
        hierarchy:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/HierarchyConfig'
              description: Heading hierarchy detection
        passwords:
          type:
            - array
            - "null"
          items:
            type: string
          description: PDF passwords to try
        top_margin_fraction:
          type:
            - number
            - "null"
          format: float
          description: Top margin fraction to skip (0.0-1.0)
    PostProcessorConfig:
      type: object
      description: Post-processing pipeline configuration.
      properties:
        disabled_processors:
          type:
            - array
            - "null"
          items:
            type: string
          description: Blacklist of processors to disable (None = none)
        enabled:
          type:
            - boolean
            - "null"
          description: Enable post-processors
        enabled_processors:
          type:
            - array
            - "null"
          items:
            type: string
          description: Whitelist of processors to enable (None = all)
    PresignDocumentInput:
      type: object
      description: Document metadata for presigned upload (no bytes)
      required:
        - filename
        - mime_type
      properties:
        config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/FileExtractionConfig'
              description: |-
                Per-file extraction config override.
                Merged with batch-level `config` at confirm time. None = use batch default.
        filename:
          type: string
          description: Original filename
        mime_type:
          type: string
          description: MIME type of the document
    PresignUploadRequest:
      type: object
      description: Request body for presigning upload URLs
      required:
        - documents
      properties:
        config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractionConfig'
              description: Batch-level extraction configuration (applied to all documents)
        documents:
          type: array
          items:
            $ref: '#/components/schemas/PresignDocumentInput'
          description: Document metadata (no file data)
        webhook:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/WebhookConfig'
              description: Webhook configuration for async result delivery
    PresignUploadResponse:
      type: object
      description: Response from presign endpoint
      required:
        - batch_id
        - uploads
      properties:
        batch_id:
          type: string
          description: Batch ID — pass this to the confirm endpoint
        uploads:
          type: array
          items:
            $ref: '#/components/schemas/PresignedUploadInfo'
          description: Per-document upload URLs
    PresignedUploadInfo:
      type: object
      description: Info about a single presigned upload
      required:
        - job_id
        - upload_url
        - object_key
        - method
        - expires_in_secs
      properties:
        expires_in_secs:
          type: integer
          format: int64
          description: Seconds until the URL expires
          minimum: 0
        job_id:
          type: string
          description: Job ID for this document
        method:
          type: string
          description: HTTP method to use (PUT)
        object_key:
          type: string
          description: Storage object key
        upload_url:
          type: string
          description: Presigned URL to upload the document to
    ProcessingWarning:
      type: object
      description: Non-fatal processing warning.
      properties:
        message:
          type: string
          description: Warning message
        source:
          type: string
          description: Warning source (e.g., "ocr", "pdf", "chunking")
    ReadinessChecks:
      type: object
      description: Individual dependency check results
      required:
        - database
        - nats
      properties:
        database:
          type: string
          description: Database connectivity
          example: ok
        nats:
          type: string
          description: NATS connectivity
          example: ok
    ReadinessResponse:
      type: object
      description: Readiness check response with dependency status
      required:
        - status
        - checks
      properties:
        checks:
          $ref: '#/components/schemas/ReadinessChecks'
          description: Dependency check results
        status:
          type: string
          description: Overall readiness status
          example: ready
    Row:
      type: object
      description: |-
        Table row — a list of cell string values.

        Kreuzberg serializes cells as a nested array (each row is `["A", "B"]`).
        This type accepts both array and object formats via a custom deserializer.
      required:
        - values
      properties:
        values:
          type: array
          items:
            type: string
    SandboxErrorResponse:
      type: object
      description: Error response for sandbox key endpoint
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code
          example: rate_limited
        message:
          type: string
          description: Human-readable error message
          example: 'Rate limit exceeded: max 10 keys per IP per 24 hours'
    Table:
      type: object
      description: Extracted table.
      properties:
        bounding_box:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BoundingBox'
              description: Bounding box on the page
        cells:
          type: array
          items:
            $ref: '#/components/schemas/Row'
          description: 2D grid of cells (rows of string values)
        markdown:
          type: string
          description: Markdown representation of the table
        page_number:
          type: integer
          format: int32
          description: Page number (0-indexed)
          minimum: 0
    TokenReductionConfig:
      type: object
      description: Token reduction configuration for LLM consumption.
      properties:
        mode:
          type:
            - string
            - "null"
          description: 'Reduction mode: "off", "light", "moderate", "aggressive", "maximum"'
        preserve_important_words:
          type:
            - boolean
            - "null"
          description: Preserve capitalized/technical terms
    UrlInput:
      type: object
      description: URL input for crawl-based extraction
      required:
        - url
      properties:
        crawl_config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/CrawlConfig'
              description: Per-URL crawl config override (merged with top-level crawl_config)
        url:
          type: string
          description: URL to crawl and extract documents from
    UsageByMimeType:
      type: object
      description: Usage statistics broken down by MIME type.
      required:
        - documents
        - pages
        - failed
      properties:
        documents:
          type: integer
          format: int32
          description: Number of documents of this MIME type processed
        failed:
          type: integer
          format: int32
          description: Number of failed extractions for this MIME type
        pages:
          type: integer
          format: int64
          description: Total pages extracted from documents of this MIME type
    UsageResponse:
      type: object
      description: Current period usage and quota information.
      required:
        - period_start
        - period_end
        - total_pages
        - total_documents
        - total_failed
        - by_mime_type
      properties:
        by_mime_type:
          type: object
          description: Usage breakdown by MIME type
          additionalProperties:
            $ref: '#/components/schemas/UsageByMimeType'
          propertyNames:
            type: string
        period_end:
          type: string
          description: End of the reporting period (ISO 8601 date)
        period_start:
          type: string
          description: Start of the reporting period (ISO 8601 date)
        quota_limit:
          type:
            - integer
            - "null"
          format: int64
          description: Monthly page quota limit (null = unlimited)
        quota_remaining:
          type:
            - integer
            - "null"
          format: int64
          description: Remaining pages in monthly quota (null = unlimited)
        total_documents:
          type: integer
          format: int32
          description: Total documents processed in the period
        total_failed:
          type: integer
          format: int32
          description: Total failed extractions in the period
        total_pages:
          type: integer
          format: int64
          description: Total pages extracted in the period
    WebhookConfig:
      type: object
      description: Webhook configuration for async delivery
      required:
        - url
      properties:
        metadata:
          type:
            - object
            - "null"
          description: Optional key-value metadata to include in the webhook payload
          additionalProperties:
            type: string
          propertyNames:
            type: string
        secret:
          type:
            - string
            - "null"
          description: Optional HMAC secret for signing the webhook payload
        url:
          type: string
          description: URL to deliver results to
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
security:
  - bearer_auth: []
tags:
  - name: extract
    description: Document extraction endpoints
  - name: jobs
    description: Job status endpoints
  - name: sandbox
    description: Anonymous sandbox API key endpoints
  - name: uploads
    description: Presigned upload endpoints
  - name: usage
    description: Usage and billing endpoints
  - name: health
    description: Health check endpoints
externalDocs:
  url: https://docs.kreuzberg.cloud
  description: API reference and documentation
